<section class="client-management">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <ol class="breadcrumb box-style">
                    <li class="breadcrumb-item">{{'INSIGHTS_MENU.ASSETS_MANAGEMENT' | translate}}</li>
                    <li routerLink="../" class="breadcrumb-item">Richiesta Trasporto</li>
                    <li class="breadcrumb-item active" aria-current="page"><span>Richiesta Trasporto</span> </li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12">
            <div class="common-stepper clickableStepper">
                <mat-horizontal-stepper linear labelPosition="bottom" #stepper>
                    <mat-step [stepControl]="transportRequestFormS1">
                        <ng-template matStepLabel>
                            <img src="assets/images/General.svg" />
                            <p>Tipo Richiesta</p>
                        </ng-template>
                        <div class="table-content box-style">
                            <div class="table-heading m-30">
                                <h3 style="font-weight: 600">{{'General' | translate}}</h3>
                                <p class="m-0"><span class="red-label">*</span> {{'GENERAL.Indicates a required field' |
                                    translate}}</p>
                            </div>
                            <form class="form-wrapper" (ngSubmit)="onSubmit(false)" [formGroup]="transportRequestFormS1">
                                <div class="row">
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Richiedente<span class="red-label">*</span></mat-label>
                                                <mat-select formControlName="requester" (selectionChange)="onRequesterChange($event)">
                                                    <mat-option *ngFor="let reqType of transportRequestType" value="{{ reqType.value }}">
                                                        {{ reqType.text }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="showRequester" class="row">
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Nome richiedente<span class="red-label">*</span></mat-label>
                                                <input formControlName="requesterName" matInput type="text" name="requesterName">
                                                <mat-error *ngIf="!transportRequestFormS1.controls.requesterName.value">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Cognome richiedente<span class="red-label">*</span>
                                                </mat-label>
                                                <input formControlName="requesterSurname" matInput type="text" name="requesterSurname">
                                                <mat-error *ngIf="!transportRequestFormS1.controls.requesterSurname.value">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Telefono richiedente<span class="red-label">*</span>
                                                </mat-label>
                                                <input formControlName="requesterPhone" matInput type="text" name="requesterPhone">
                                                <mat-error *ngIf="!transportRequestFormS1.controls.requesterPhone.value">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="step-form-bottom">
                                    <div>
                                        <button routerLink="/services-management/srv-transports-management" class="btn-style red-line-btn" type="button">{{'GENERAL.Cancel' | translate}}</button>
                                    </div>
                                    <div class="">
                                        <button matStepperNext class="btn-style theme-btn" type="submit">{{'GENERAL.Save&Next' | translate}} <span class="material-icons">arrow_forward</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="transportRequestFormS2">
                        <ng-template matStepLabel>
                            <img src="assets/images/Quiz.svg" />
                            <p>Condizioni di Servizio</p>
                        </ng-template>
                        <div class="table-content box-style company-info">
                            <div class="table-heading m-30">
                                <h3 style="font-weight: 600">Condizioni di servizio</h3>
                                <p class="m-0"><span class="red-label">*</span> {{'GENERAL.Indicates a required field' |
                                    translate}}</p>
                            </div>
                            <form class="form-wrapper" (ngSubmit)="onSubmit(false)" [formGroup]="transportRequestFormS2">
                                <div class="row">
                                    <div class="col-xl-6 col-xxl-4">
                                        <mat-checkbox name="accept1" formControlName="accept1" type="checkbox">{{ acceptItems[0] }}</mat-checkbox>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <mat-checkbox name="accept2" formControlName="accept2" type="checkbox">{{ acceptItems[1] }}</mat-checkbox>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <mat-checkbox name="accept3" formControlName="accept3" type="checkbox">{{ acceptItems[2] }}</mat-checkbox>
                                    </div>
                                    <mat-error *ngIf="!getAcceptValidStatus()">
                                        Per procedere devi accettare tutte le condizioni del servizio
                                    </mat-error>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Carrozina Propria?<span class="red-label">*</span></mat-label>
                                                <mat-select formControlName="wheelchairType">
                                                    <mat-option *ngFor="let wct of wheelchairTypes" value="{{ wct.value }}">{{ wct.text }}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="transportRequestFormS2?.controls.wheelchairType.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="step-form-bottom">
                                    <div>
                                        <button routerLink="/services-management/srv-transports-management" class="btn-style red-line-btn" type="button">{{'GENERAL.Cancel' | translate}}</button>
                                    </div>
                                    <div class="btn-wrapper">
                                        <button matStepperPrevious class="btn-style privious-btn" type="button"><span class="material-icons">arrow_backward</span> {{'GENERAL.Previous' | translate}}</button>
                                        <button matStepperNext class="btn-style theme-btn" type="submit">{{'GENERAL.Save&Next' | translate}} <span class="material-icons">arrow_forward</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="transportRequestFormS3">
                        <ng-template matStepLabel>
                            <img src="assets/images/Contact.svg" />
                            <p>Generalità Trasportato</p>
                        </ng-template>
                        <div class="table-content box-style company-info">
                            <div class="table-heading m-30">
                                <h3 style="font-weight: 600">{{'Contact' | translate}}</h3>
                                <p class="m-0"><span class="red-label">*</span> {{'GENERAL.Indicates a required field' |
                                    translate}}</p>
                            </div>
                            <form class="form-wrapper" (ngSubmit)="onSubmit(false)" [formGroup]="transportRequestFormS3">
                                <div class="row">
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Condizione fisica<span class="red-label">*</span></mat-label>
                                                <mat-select formControlName="userPhysicStatus">
                                                    <mat-option *ngFor="let ps of physicalStatus" value="{{ps}}">{{ ps }}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="transportRequestFormS3?.controls.userPhysicStatus.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Nome<span class="red-label">*</span></mat-label>
                                                <input formControlName="userName" matInput type="text" name="userName">
                                                <mat-error *ngIf="transportRequestFormS3?.controls.userName.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Cognome<span class="red-label">*</span>
                                                </mat-label>
                                                <input formControlName="userSurname" matInput type="text" name="userSurname">
                                                <mat-error *ngIf="transportRequestFormS3?.controls.userName.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Sesso<span class="red-label">*</span></mat-label>
                                                <mat-select formControlName="userGender">
                                                    <mat-option>{{'Select Gender' | translate}}</mat-option>
                                                    <mat-option *ngFor="let genders of genderList" value="{{genders.value}}">
                                                        {{genders.viewValue | translate}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="transportRequestFormS3?.controls.userGender.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Indirizzo<span class="red-label">*</span></mat-label>
                                                <input formControlName="userAddress" matInput type="text" name="userAddress">
                                                <mat-error *ngIf="transportRequestFormS3?.controls.userAddress.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Città<span class="red-label">*</span></mat-label>
                                                <input formControlName="userCity" matInput type="text" name="userCity">
                                                <mat-error *ngIf="transportRequestFormS3?.controls.userCity.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Cap<span class="red-label">*</span></mat-label>
                                                <input formControlName="userCap" matInput type="text" name="userCap">
                                                <mat-error *ngIf="transportRequestFormS3?.controls.userCap.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Provincia<span class="red-label">*</span></mat-label>
                                                <mat-select formControlName="userProv">
                                                    <mat-option>{{'Select Prov' | translate}}</mat-option>
                                                    <mat-option *ngFor="let provs of provList" value="{{provs}}">{{provs
                                                        |
                                                        translate}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="transportRequestFormS3?.controls.userProv.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Recapito telefornico<span class="red-label">*</span>
                                                </mat-label>
                                                <input formControlName="userPhone" matInput type="text" name="userPhone">
                                                <mat-error *ngIf="transportRequestFormS3?.controls.userPhone.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="step-form-bottom">
                                    <div>
                                        <button routerLink="/services-management/srv-transports-management" class="btn-style red-line-btn" type="button">Cancel</button>
                                    </div>
                                    <div class="btn-wrapper">
                                        <button matStepperPrevious class="btn-style privious-btn" type="button"><span class="material-icons">arrow_backward</span> {{'GENERAL.Previous' | translate}}</button>
                                        <button matStepperNext class="btn-style theme-btn" type="submit">{{'GENERAL.Save&Next' | translate}} <span class="material-icons">arrow_forward</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="transportRequestFormS4">
                        <ng-template matStepLabel>
                            <img src="assets/images/Add Account.svg" />
                            <p>Trasporto</p>
                        </ng-template>
                        <div class="table-content box-style">
                            <div class="table-heading m-30">
                                <h3 style="font-weight: 600">Trasporto</h3>
                                <p class="m-0"><span class="red-label">*</span> {{'GENERAL.Indicates a required field' |
                                    translate}}</p>
                            </div>
                            <form class="form-wrapper" (ngSubmit)="onSubmit(true)" [formGroup]="transportRequestFormS4" novalidate>
                                <div class="row">
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Indirizzo di partenza<span class="red-label">*</span>
                                                </mat-label>
                                                <input formControlName="startAddress" matInput type="text" name="startAddress">
                                                <mat-error *ngIf="transportRequestFormS4?.controls.startAddress.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field error-message-custom">
                                            <div class="custom-switch mt-0">
                                                <mat-checkbox (change)="onCheckStartAddessUser($event)">Domicilio del
                                                    trasportato
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Luogo di destinazione<span class="red-label">*</span>
                                                </mat-label>
                                                <input formControlName="arrivalPlace" matInput type="text" name="arrivalPlace">
                                                <mat-error *ngIf="transportRequestFormS4?.controls.arrivalPlace.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Indirizzo<span class="red-label">*</span></mat-label>
                                                <input formControlName="arrivalAddress" matInput type="text" name="arrivalAddress">
                                                <mat-error *ngIf="transportRequestFormS4?.controls.arrivalAddress.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-3">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Città<span class="red-label">*</span></mat-label>
                                                <input formControlName="arrivalCity" matInput type="text" name="arrivalCity">
                                                <mat-error *ngIf="transportRequestFormS4?.controls.arrivalCity.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-1">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Provincia<span class="red-label">*</span></mat-label>
                                                <mat-select formControlName="arrivalProv">
                                                    <mat-option>{{'Select Prov' | translate}}</mat-option>
                                                    <mat-option *ngFor="let provs of provList" value="{{provs}}">{{provs | translate}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="transportRequestFormS4?.controls.arrivalProv.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-xxl-3">
                                        <mat-form-field appearance="outline" class="element-full-width date-select">
                                            <mat-label>Data di arrivo a destinazione<span class="red-label">*</span>
                                            </mat-label>
                                            <input formControlName="arrivalDate" [matDatepicker]="pickerArrivalDate" matInput type="text" name="arrivalDate">
                                            <mat-datepicker-toggle matSuffix [for]="pickerArrivalDate" class="full-date-select">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #pickerArrivalDate></mat-datepicker>
                                            <mat-error *ngIf="transportRequestFormS4?.controls.arrivalDate.errors?.required">
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-6 col-xxl-3">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Orario di arrivo a destinazione<span class="red-label">*</span></mat-label>
                                                <input formControlName="arrivalTime" [ngModel]="getTransportTime(true)" (change)="setTransportTime(true, $event.target.value)" readonly (click)="pickerArrival.open()" matInput name="arrivalTime">
                                                <mat-icon matSuffix (click)="pickerArrival.open()">schedule</mat-icon>
                                                <mat-error *ngIf="transportRequestFormS4?.controls.arrivalTime.errors?.required">
                                                </mat-error>
                                            </mat-form-field>
                                            <ngx-material-timepicker #pickerArrival [format]="24" (timeSet)="setTransportTime(true, $event)">
                                            </ngx-material-timepicker>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-3">
                                        <mat-form-field appearance="outline" class="element-full-width date-select">
                                            <mat-label>Data di rientro<span class="red-label">*</span>
                                            </mat-label>
                                            <input formControlName="returnalDate" [matDatepicker]="pickerReturnalDate" matInput type="text" name="returnalDate">
                                            <mat-datepicker-toggle matSuffix [for]="pickerReturnalDate" class="full-date-select">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #pickerReturnalDate></mat-datepicker>
                                            <mat-error *ngIf="transportRequestFormS4?.controls.returnalDate.errors?.required">
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-6 col-xxl-3">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Orario di partenza<span class="red-label">*</span>
                                                </mat-label>
                                                <input formControlName="returnalTime" [ngModel]="getTransportTime(false)" (change)="setTransportTime(false, $event.target.value)" readonly (click)="pickerReturnal.open()" matInput name="returnalTime">
                                                <mat-icon matSuffix (click)="pickerReturnal.open()">schedule</mat-icon>
                                                <mat-error *ngIf="transportRequestFormS4?.controls.returnalTime.errors?.required">
                                                </mat-error>
                                            </mat-form-field>
                                            <ngx-material-timepicker #pickerReturnal [format]="24" (timeSet)="setTransportTime(false, $event)">
                                            </ngx-material-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Indirizzo di rientro<span class="red-label">*</span>
                                                </mat-label>
                                                <input formControlName="returnalAddress" matInput type="text" name="returnalAddress">
                                                <mat-error *ngIf="transportRequestFormS4?.controls.returnalAddress.errors?.required">

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="form-field error-message-custom">
                                            <div class="custom-switch mt-0">
                                                <mat-checkbox (change)="onCheckReturnalAddessUser($event)">Domicilio del
                                                    trasportato
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-field error-message-custom date-picker-style">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>Note</mat-label>
                                                <textarea formControlName="note" matInput placeholder="{{'GENERAL.TypeHere' | translate}}" type="text"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="step-form-bottom">
                                    <div>
                                        <button routerLink="/services-management/srv-transports-management" class="btn-style red-line-btn" type="button">{{'GENERAL.Cancel' |
                                            translate}}</button>
                                    </div>
                                    <div class="btn-wrapper">
                                        <button matStepperPrevious class="btn-style privious-btn" type="button"><span class="material-icons">arrow_backward</span> {{'GENERAL.Previous' |
                                            translate}}</button>
                                        <button class="btn-style green-btn" type="submit">{{'GENERAL.Save&Finish' |
                                            translate}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</section>