<section class="dashboard-content">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <ol class="breadcrumb box-style">
                  <li routerLink="/dashboard" class="breadcrumb-item">Dashboard</li>
                  <li routerLink="/edit-profile" class="breadcrumb-item active" aria-current="page">Settings</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="account-wrapper">
        <div class="account-list">
            <div class="box-style">
                <ul>
                    <li routerLink="/edit-profile" routerLinkActive="active">Edit Profile</li>
                    <li routerLink="/change-password" routerLinkActive="active">Change Password</li>
                </ul>
            </div>
        </div>
        <div class="form-content-box box-style">
            <form class="w-100" name="changePasswordForm" [formGroup]= "changePasswordForm"  novalidate
            (ngSubmit)="changePassword()"
            #myform="ngForm">
                <div class="form-main table-content box-heading">
                    <h3>Change Password</h3>
                    <div class="form-row-wrapper">
                        <div class="row">
                            <div class="col-xl-6 col-xxl-4">
                                <div class="form-field">
                                    <mat-form-field appearance="outline" class="element-full-width">
                                        <mat-label>Old Password</mat-label>
                                        <input  [type]="hide ? 'password' : 'text'" formControlName="old_password" matInput type="password" minlength="6" name="old_password" onkeypress="return event.charCode != 32" required>
                                        <mat-error *ngIf="changePasswordForm.controls.old_password.errors?.required" >
                                          Enter your old password.
                                       </mat-error>
                                       <mat-error *ngIf="changePasswordForm.controls.old_password.errors?.minlength" >
                                        Old password must be at least 6 characters long.
                                        </mat-error>
                                       <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                      </button>
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="col-xl-6 col-xxl-4">
                                <div class="form-field error-message-custom">
                                    <mat-form-field appearance="outline" class="element-full-width">
                                        <mat-label>New Password</mat-label>
                                      <input  [type]="hide1 ? 'password' : 'text'" name="new_password" formControlName="new_password" minlength="6" matInput type="password" onkeypress="return event.charCode != 32" required>
                                      <mat-error *ngIf="changePasswordForm.controls.new_password.errors?.required">
                                        Enter your new password.
                                     </mat-error>
                                     <mat-error *ngIf="changePasswordForm.controls.new_password.errors?.minlength" >
                                        New password must be at least 6 characters long.
                                     </mat-error>
                                     <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                      </button>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-xl-6 col-xxl-4">
                              <div class="form-field">
                                  <mat-form-field appearance="outline" class="element-full-width">
                                      <mat-label>Confirm New Password</mat-label>
                                    <input [type]="hide2 ? 'password' : 'text'"  name="confirmPassword" formControlName="confirmPassword" matInput onkeypress="return event.charCode != 32" required >
                                    <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">
                                    Enter your confirm new password.
                                   </mat-error>
                                   <mat-error *ngIf="checkIfMatchingPasswords('notEquivalent','')">
                                    New password and confirm new password does not match.
                                  </mat-error>
                                  <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  </button>                              
                                  </mat-form-field>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button class="btn-style theme-btn" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
