<section class="client-management">
    <div class="row">
      <div class="col-md-12">
        <!-- <nav>
          <ol class="breadcrumb box-style">
            <li routerLink="/dashboard" class="breadcrumb-item">{{'INSIGHTS_MENU.DASHBOARD'| translate}}</li> 
            <li  class="breadcrumb-item active" aria-current="page">{{'INSIGHTS_MENU.ACTION_TILES' | translate}}</li>
          </ol>
        </nav> -->
        <app-breadcrumb [title]="'INSIGHTS_MENU.ACTION_TILES'">
        </app-breadcrumb>
      </div>
      <div class="col-md-12">
        <div class="common-tabbing">
          <div class="table-content box-style company-info">
            <div class="table-heading">
              <h3 style="font-weight: 600">{{'INSIGHTS_MENU.ACTION_TILES' | translate}}
              </h3>
              <div class="search-form-wrapper">
                <div class="search-form">
                  <mat-icon  matPrefix class="material-icons search">search</mat-icon>
                  <input (keyup)="onKeyUp($event)" #searchBox [(ngModel)]="search" mat-input placeholder="{{'Search Tile' | translate}}" />
                  <mat-icon *ngIf="this.search !== '' "  class="material-icons clear" (click) ="resetSearch()">clear</mat-icon>
                </div>
                <!-- <button  class="btn-style" routerLink="add-edit-services">
                  <span class="material-icons">add</span>Add Action Tiles
                </button> -->
              </div>
            </div>
            <div class="table-wrapper resource-color-table">
              <table [dataSource]="actionTilesList | paginate: {itemsPerPage: this.itemsPerPage, currentPage: this.page, totalItems: this.totalItems }" mat-table style="width: 100%" >
                <mat-tab-group>
                  <ng-container matColumnDef="tile">
                    <th (click)="changeSorting('Caption', sortBy)" *matHeaderCellDef class="short-arrow"  mat-header-cell>
                        {{'Tile' | translate}} <span [ngClass]="{'down': sortKey === 'Caption' && sortBy === '-1' , 'up': sortKey === 'Caption' && sortBy === '1'}" ><img alt="" src="assets/images/up-arrow.svg"></span>
                    </th>
                    <td mat-cell *matCellDef="let element" style="white-space: nowrap">{{ element.Caption }}</td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;">
                        {{'Status' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" style="width: 100px;">
                      <div class="action-icons d-flex switch">
                        <mat-slide-toggle [checked]="element.available" (click)="onEnableClick(element)"></mat-slide-toggle>
                        <!-- <img src="assets/images/edit-action.svg"  class="" alt="" routerLink="add-edit-services">
                        <img src="assets/images/delete-action.svg" (click)="openAccountDeleteDialog()" alt=""> -->
                      </div>
                    </td>
                  </ng-container>
                </mat-tab-group>

                <tr mat-header-row *matHeaderRowDef="actionTilesDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: actionTilesDisplayedColumns"></tr>
              </table>
            </div>
            <!-- <div *ngIf="!noRecordFound" class="no-record-found">{{'TABLE.No_record_found' | translate}}</div>
            <div  *ngIf="noRecordFound"class="paginate-footer">
              <div class="page-item">
                <h3>{{'TABLE.Items_per_page' | translate}}</h3>
                <mat-form-field appearance="fill">
                  <mat-select [(ngModel)]="itemsPerPage" (selectionChange)="changeItemsPerPage()">
                    <mat-option value='5'>5</mat-option>
                    <mat-option value='10'>10</mat-option>
                    <mat-option value='15'>15</mat-option>
                    <mat-option value='20'>20</mat-option>
                  </mat-select>
                </mat-form-field>
                <span class="total-record-info">{{(((page - 1) * itemsPerPage) + 1)}} - {{((itemsPerPage * page) < totalItems) ? (itemsPerPage * page) : totalItems}} of {{totalItems}}</span>
              </div>
              <div class="table-paginator">
                <pagination-controls  (pageChange)="pageChanged($event)" responsive="true"></pagination-controls>
              </div>
            </div> -->
            <app-pagination [noRecordFound]="noRecordFound"
                [itemsPerPage]="itemsPerPage" [page]="page" (pageChange)="pageChanged($event)" (changeItem)="changeItemsPerPage($event)"
              [totalItems]="totalItems"></app-pagination>
          </div>
        </div>
      </div>
    </div>
  </section>
