<section class="popups">
    <div class="popup-header">
        <div class="header-content">
            <h4>{{data.heading | translate}}</h4>
            <img (click)="onSave(false,$event)" alt="" src="assets/images/cross-icon.svg">
        </div>
    </div>
    <div class="popup-body">
        <div class="popup-content m-auto text-center">
            <div class="form-field" [formGroup]="singleFieldForm" >
                <mat-form-field appearance="outline" class="element-full-width">
                    <mat-label>{{data.placeholder | translate}}<span style="color:#EA5455">*</span></mat-label>
                    <input  type="text" formControlName="name" matInput  name="name" (keydown)="spaceCheck($event)" #inputDisabled style="text-transform:capitalize;">
                    <mat-error *ngIf="singleFieldForm.controls.name.errors?.required" >
                        {{data.validation | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <hr>
    <div class="popup-footer">
        <div class="footer-content justify-content-end">
            <button (click)="onSave(false, $event)" class="btn-style inactive">{{'GENERAL.Cancel' | translate}}</button>
            <button (click)="onSave(true,this.singleFieldForm.value)" [disabled]="inputDisabled.value == '' || inputDisabled.value == null" class="btn-style theme-btn">{{'GENERAL.Save' | translate}}</button>
        </div>
    </div>
</section>
