.mat-form-field-appearance-outline .mat-form-field-outline-start ,.mat-form-field-appearance-outline .mat-form-field-outline-end{
    border-radius: 0 !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline{
    background-color: #fff !important;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: 0;padding: 0;
}
// .buttons button {
//     padding: 8px 50px;
// }
