.form-row{
  margin-bottom: 10px;
}
mat-card{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
}

.mat-card-content{
  padding:10px;
}
.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content{
  flex-grow: 1;
  overflow: auto;
}
mat-form-field {
  /*width: 100%;*/
}

#tb_answers{
  width:100%;
}

.mat-radio-button {
  margin-right: 15px;
}

#myForm{
  padding: 15px;
  display: flex;
  flex-direction: column;

  .input-row {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.full-width{
  width: 100%;
}
