/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
    position: fixed;
}
body {
    margin: 0;
    font-family: "Work Sans", Roboto, "Helvetica Neue", sans-serif;
    font-size: small;
}

.mat-custom {
    .mat-stepper-horizontal {
        width: 100%;
    }
    .mat-form-field-label {
        letter-spacing: 0.1px;
    }
}

.page-container {
    @extend .mat-custom;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    max-width: 400px;
    align-items: center;
    margin: auto;
    // max-width: 640px;
}

.main-toolbar {
    overflow: hidden;
    // height: 120px;
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-grow: 0;
    // max-width: 400px;
}

.custom-dialog-container .mat-dialog-container {
    overflow-y: hidden;
}

.no-round {
    border-radius: 0 !important;
}

.primary-filters {
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;
}
.details-filters {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.filters-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.flex-container-old {
    width: 96%;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 640px;
    margin-left: 2%;
    margin-top: 10px;
}

.flex-container {
    overflow-y: auto;
    display: -webkit-box;
    display: flex;
    flex-flow: row wrap;
    //justify-content: center;
    justify-content: space-between;
    padding: 10px;
}

.page-content-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    justify-content: center;
    max-width: 400px;
}

.no-scroll {
    overflow-y: hidden;
}

.no-results-msg {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin: 30px 0;
}


.width-10 {
    width: 10%;
}
.width-15 {
    width: 15%;
}
.width-25 {
    width: 25%;
}
.width-28 {
    width: 28%;
}
.width-33 {
    width: 33%;
}
.width-35 {
    width: 35%;
}
.width-50 {
    width: 50%;
}
.width-77 {
    width: 77%;
}

//TODO: move to theme
.mat-snack-bar-container {
    &.success {
        color: rgba(255, 255, 255, 0.7);
        background-color: #323232;
        .mat-button {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    &.warning {
        color: #856404;
        background-color: #fff3cd;
        .mat-button {
            color: #856404;
        }
    }
    &.error {
        color: #721c24;
        background-color: #f8d7da;
        .mat-button {
            color: #721c24;
        }
    }
}

.timepicker-overlay {
    z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
    z-index: 1100 !important;
}

.ngx-progressbar {
    width: 100%;

    .p-progressbar {
        height: 16px;
        border-radius: 8px;

        background: #b9e6ea;
    }

    .p-progressbar .p-progressbar-value {
        height: 16px;
        border-radius: 8px;

        background: #14aab9;
    }
}

.ngx-overlaypanel {
    .p-overlaypanel {
        background: #ffffff;
    }
    .p-overlaypanel .p-overlaypanel-close {
        background: #14aab9;
    }
}


.ngx-card-track {
    .p-card-title {
        font-size: 1.2rem !important;
    }

    .p-card-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0px !important;
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
