<h2 mat-dialog-title><b>Dashboard Presenze</b></h2>

<mat-dialog-content class="dialog-content">
    <div class="dialog-container">
        <iframe width="600" height="470" src="https://datastudio.google.com/embed/reporting/44ea2c64-f321-4564-ad22-b3e554a043f5/page/p_hbekue65mc" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-flat-button class="action-button" color="primary" cdkFocusInitial
        (click)="onCloseClick()">{{'GENERAL.CLOSE'|translate}}</button>
</mat-dialog-actions>