.group-tab {
    margin-top: -48px;
}

.label {
    font-weight: bold;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:15px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 13px;
    padding-left: 10px;
    height: 100px;
    overflow-y: auto;

}

.height-500 {
    height: 500px;
}
.bottom-5 {
    padding-bottom: 5px;
}
.bottom-15 {
    padding-bottom: 15px;
}
.top-10 {
    padding-top: 10px;
}

.bold {
    font-weight: bold;
}

.dialog-actions {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.gap-10 {
    gap:10px;
}

.note {
    color:rgba(0, 0, 0, 0.4);
    font-size: 12px;
}

.loader {
    margin: auto;
}

.center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.qr-codes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    justify-content: flex-start;
    padding-bottom: 60px;
    gap:30px;
    padding:10px;
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 170px;
}

.qr-code-name {
    text-align: center;
}

.no-qr-code {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    margin:10px;
    border-color: black;

    .icon {
        font-size: 70px;
    }
}


