<app-header></app-header>
<!--======================== Title section start ==================== -->
<div class="main-title">
    <div class="container">
        <h1>{{'MYACCOUNT.MyAccount' | translate}}</h1>
    </div>
</div>
<!--======================== Dashboard section start ==================== -->
<section class="dashboard-content">
    <div class="container">
        <div class="account-wrapper main-content-wrapper">
            <div class="account-list">
                <div class="box-style">
                    <div class="my-account-title">
                        <h4>{{'MYACCOUNT.MyAccount' | translate}}</h4>
                    </div>
                    <ul>
                      <li routerLink="/my-application">{{'MYACCOUNT.MyApplications' | translate}}</li>
                      <li routerLink="/edit-profile">{{'MYACCOUNT.EditProfile' | translate}}</li>
                      <li class="active" routerLink="/change-password" *ngIf="userDetails === null">{{'MYACCOUNT.ChangePassword' | translate}}</li>
                      <li routerLink="/activity-log">{{'MYACCOUNT.ActivityLog' | translate}}</li>
                      <li routerLink="/download-document">{{'GENERAL.Download' | translate}}</li>
                      <li routerLink="/delete-account">{{'MYACCOUNT.DeleteAccount' | translate}}</li>
                      <li (click)="logout()">{{'GENERAL.Logout' | translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="form-content-box box-style">
                <div class="name-title">
                    <h4>{{'MYACCOUNT.ChangePassword' | translate}}</h4>
                </div>
                <hr>
                <form class="w-100" name="changePasswordForm" [formGroup]= "changePasswordForm"  novalidate
                (ngSubmit)="changePassword()"
                #myform="ngForm">
                    <div class="form-main">
                        <div class="form-row-wrapper">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="form-field">
                                        <label for="old-password">{{'RESETPASSWORDFORM.OldPassword' | translate}}</label>
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <input formControlName="oldPassword" id="old-password" placeholder="{{'RESETPASSWORDFORM.OldPassword' | translate}}" matInput type="password" name="oldPassword" required (keydown)="space($event)"  onkeypress="return event.charCode != 32">
                                            <mat-error *ngIf="changePasswordForm.controls.oldPassword.errors?.required" >
                                              {{'RESETPASSWORDFORM.OldPasswordRequired' | translate}}
                                           </mat-error>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="form-field error-message-custom">
                                        <label for="new-password">{{'RESETPASSWORDFORM.NewPassword' | translate}}</label>
                                        <mat-form-field appearance="outline" class="element-full-width">
                                          <input name="newPassword" id="new-password" placeholder="{{'RESETPASSWORDFORM.NewPassword' | translate}}" formControlName="newPassword" matInput type="password" required (keydown)="space($event)"  onkeypress="return event.charCode != 32">
                                          <mat-error *ngIf="changePasswordForm.controls.newPassword.errors?.required">
                                            {{'RESETPASSWORDFORM.NewPasswordRequired' | translate}}
                                         </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                  <div class="form-field">
                                        <label for="confirm-password">{{'SIGNUPPAGE.ConfirmPassword' | translate}}</label>
                                      <mat-form-field appearance="outline" class="element-full-width">
                                        <input name="confirmPassword" formControlName="confirmPassword" id="confirm-password" placeholder="{{'SIGNUPPAGE.ConfirmPassword' | translate}}" matInput type="password" required (keydown)="space($event)"  onkeypress="return event.charCode != 32" >
                                        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">
                                          {{'SIGNUPPAGE.ConfirmPasswordRequired' | translate}}
                                       </mat-error>
                                       <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors?.confirmedValidator">
                                        {{'SIGNUPPAGE.PasswordDoesnotMatch' | translate}}
                                      </mat-error>
                                      <!-- <mat-error *ngIf="checkIfMatchingPasswords('notEquivalent','')">
                                        {{'SIGNUPPAGE.PasswordDoesnotMatch' | translate}}
                                      </mat-error> -->
                                      </mat-form-field>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="form-footer">
                          <button mat-raised-button class="btn-submit" type="submit">{{'GENERAL.Save' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
