// colors

$theme_color : #4B6BA2;
$theme_color_shade : #a6dbff;
$theme_color_light : #e6f5ff;
$theme_color_offlight: #ECEFF4;
$text-grey: #8F8F8F;
$white: #ffffff;
$black: #000000;
$grey:#727272;
$purpal:#877DF2;
$trasparent:transparent;
$red-label : #ff0000;
