<div >
    <div class="name-title">
        <h4>{{'MYACCOUNT.ChangePassword' | translate}}</h4>
    </div>
    <hr>
    <form class="w-100" name="changePasswordForm" [formGroup]= "changePasswordForm"  novalidate (ngSubmit)="changePassword()" #myform="ngForm">
        <div class="form-main">
            <div class="form-row-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-field">
                            <mat-form-field appearance="outline" class="element-full-width">
                                    <mat-label>{{'RESETPASSWORDFORM.OldPassword' | translate}}</mat-label>
                                    <input  [type]="hide ? 'password' : 'text'" formControlName="old_password" matInput name="old_password" required type="password">
                                    <mat-error *ngIf="changePasswordForm.controls.old_password.errors?.required" >
                                        {{'RESETPASSWORDFORM.OldPasswordRequired' | translate}}
                                    </mat-error>
                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">

                        <div class="form-field error-message-custom">
                            <mat-form-field appearance="outline" class="element-full-width">
                                <mat-label>{{'RESETPASSWORDFORM.NewPassword' | translate}}</mat-label>
                                <input  [type]="hide1 ? 'password' : 'text'" formControlName="new_password" matInput name="new_password" required type="password">
                                <mat-error *ngIf="changePasswordForm.controls.new_password.errors?.required">
                                    {{'RESETPASSWORDFORM.NewPasswordRequired' | translate}}
                                </mat-error>
                                <mat-error *ngIf="changePasswordForm.controls.new_password.errors?.minlength">
                                  {{'RESETPASSWORDFORM.NewPasswordERROR' | translate}}
                                </mat-error>
                                <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-field">
                            <mat-form-field appearance="outline" class="element-full-width">
                                <mat-label>{{'RESETPASSWORDFORM.ConfirmPassword' | translate}}</mat-label>
                                <input [type]="hide2 ? 'password' : 'text'"  name="confirmPassword" formControlName="confirmPassword" matInput  required >
                                <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">
                                    {{'RESETPASSWORDFORM.ConfirmPasswordRequired' | translate}}
                                </mat-error>
                                <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors?.confirmedValidator">
                                    {{'RESETPASSWORDFORM.PasswordDoesnotMatch' | translate}}
                                </mat-error>
                                <!-- <mat-error *ngIf="checkIfMatchingPasswords('notEquivalent','')">
                                    {{'RESETPASSWORDFORM.PasswordDoesnotMatch' | translate}}
                                </mat-error> -->
                                <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-footer mt-30">
                <button mat-raised-button class=" btn-style theme-btn " type="submit">{{'GENERAL.Save' | translate}}</button>
            </div>
        </div>
    </form>

</div>
