<form class="w-100" name="addSettingInfoForm" [formGroup]="addSettingInfoForm"  novalidate (ngSubmit)="onSiteSubmit()" #myform="ngForm">
  <section class="popups">
    <div class="popup-header">
      <div class="header-content">
        <h4>{{'SITES.ChangeStatus'| translate}}</h4>
        <img (click)="onClose()" alt="" src="assets/images/cross-icon.svg">
      </div>
    </div>
    <div class="popup-body">
      <div class="popup-content m-auto text-center" style="max-height: 65vh;overflow: auto;">
          <div class="form-field">
            <mat-form-field appearance="outline" class="element-full-width">
              <mat-label> {{'TABLE.Status'| translate}}<span style="color:#EA5455">*</span></mat-label>
              <mat-select formControlName="globalStatus" name="globalStatus">
                <mat-option disabled="disabled">{{'SITES.SelectStatus'| translate}}</mat-option>
                <mat-option *ngFor="let settingStatus of availableSiteStatus" value="{{settingStatus}}" selected>{{settingStatus | translate}}</mat-option>
              </mat-select>
              <mat-error *ngIf="addSettingInfoForm.controls.globalStatus.errors?.required">
                {{'SITES.Pleaseselectstatus'| translate}}
              </mat-error>
            </mat-form-field>
          </div>
      </div>
    </div>
    <hr>
    <div class="popup-footer">
      <div class="footer-content justify-content-end">
        <button (click)="onClose()" class="btn-style inactive">{{'GENERAL.Cancel' | translate}}</button>
        <button type="submit" class="btn-style theme-btn">{{'GENERAL.Confirm' | translate}}</button>
      </div>
    </div>
  </section>
</form>
