<section class="login">
    <div class="container">
        <div class="login-box">
            <div class="row">
                <div class="col-lg-7 d-flex align-item-center">
                    <div class="banner-img">
                        <img src="./assets/images/forgot-password-img.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-content">
                        <div  routerLink="" class="back-btn"><mat-icon>arrow_back</mat-icon> Back</div>
                        <div class="logo">
                            <img src="./assets/images/logo-login.svg" routerLink="" alt="">
                            <h4>Irina NuNow</h4>
                        </div>
                      <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="onSubmit()">
                            <div class="form-wrapper">
                                <div class="input-wrapper">
                                    <div class="form-title">
                                        <h3>Forgot Password</h3>
                                        <p>﻿Enter your Email ID to reset your password. You will receive an email with instructions on how to reset your password.</p>
                                    </div>
                                    <div class="form-field m-0">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>Email ID</mat-label>
                                            <input matInput formControlName="email"  type="email" id="email" name="email" maxlength="50">
                                            <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.required">Please enter your email.</mat-error>
                                            <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.email">Please enter a valid email.</mat-error>
                                         </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-btn">
                                    <button mat-button  type="submit"  class="full-btn">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

