<mat-tab-group #tabgroup class="group-tab">
  <mat-tab [label]="(this.currentOpening$ | async)?.short_description || ('JOB_APPLICATION.DEFAULT_TAB' | translate)">
    <!-- <div style="text-align: left; margin: 10px 15px 0px 15px;">
      <mat-slide-toggle (change)="showUnread($event)">Show unread</mat-slide-toggle>
    </div> -->
    <!-- <div  class="showUnread">
        <mat-slide-toggle (change)="showUnread($event)" [checked]="showUnreadApp">Show unread</mat-slide-toggle>
    </div> -->
    <app-table-data-view
      [tableDataSet]="applicationTableData"
      [columnTemplates]="tableColumnTemplates"
      [rowActions]="tableRowActions"
      [mainActions]="tableMainActions"
      [filteredValue]="filteredValueTxt"
      [filteredValueShow]="true">
    </app-table-data-view>
  </mat-tab>
  <mat-tab [label]="'JOB_APPLICATION.DETAIL' | translate" *ngIf="this.showDetail">

    <div class="general-container">
      <mat-card class="detail-card card" *ngIf="current_element">
        <mat-card-header class="card-header">
          {{titleCard}} : {{current_element.opening.area}} | {{current_element.opening.description}} | {{current_element.opening.jobOpeningType | translate}}
        </mat-card-header>
        <mat-card-content class="card-body-2">
          <h2 *ngIf="this.currentOpening$  | async as current_opening">
            [{{current_opening.code}}] {{current_opening.description}}
          </h2><br>

          <form [formGroup]="this.frmCandidate">
            <div class="form-row">
              <mat-form-field>
                <mat-label>{{"CANDIDATE.nome" | translate}}</mat-label>
                <input matInput formControlName="nome">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{"CANDIDATE.cognome" | translate}}</mat-label>
                <input matInput formControlName="cognome">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{"CANDIDATE.email" | translate}}</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{"CANDIDATE.data_nascita" | translate}}</mat-label>
                <input matInput formControlName="data_nascita">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field>
                <mat-label>{{"CANDIDATE.age" | translate}}</mat-label>
                <input matInput formControlName="age">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{"CANDIDATE.sesso" | translate}}</mat-label>
                <input matInput formControlName="sesso">
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{"CANDIDATE.nationality" | translate}}</mat-label>
                <input matInput formControlName="nationality">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{"CANDIDATE.telefono" | translate}}</mat-label>
                <input matInput formControlName="telefono">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field>
                <mat-label>{{"CANDIDATE.indirizzo" | translate}}</mat-label>
                <input matInput formControlName="indirizzo">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{"CANDIDATE.cityName" | translate}}</mat-label>
                <input matInput formControlName="cityName">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{"CANDIDATE.stateName" | translate}}</mat-label>
                <input matInput formControlName="stateName">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{"CANDIDATE.countryName" | translate}}</mat-label>
                <input matInput formControlName="countryName">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field>
                <mat-label>{{"CANDIDATE.azienda" | translate}}</mat-label>
                <input matInput formControlName="azienda">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{"CANDIDATE.titolo" | translate}}</mat-label>
                <input matInput formControlName="titolo">
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{"CANDIDATE.livello_studi" | translate}}</mat-label>
                <input matInput formControlName="livello_studi">
              </mat-form-field>
              <mat-form-field *ngIf="frmCandidate.value.livello_studi === 'Graduated'">
                <mat-label>{{"CANDIDATE.univ" | translate}}</mat-label>
                <input matInput formControlName="univ">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field *ngIf="frmCandidate.value.livello_studi === 'Graduated'">
                <mat-label>{{"CANDIDATE.laurea" | translate}}</mat-label>
                <input matInput formControlName="laurea">
              </mat-form-field>
              <mat-form-field *ngIf="frmCandidate.value.livello_studi === 'Graduated'">
                <mat-label>{{"CANDIDATE.voto_laurea" | translate}}</mat-label>
                <input matInput formControlName="voto_laurea">
              </mat-form-field>
              <mat-form-field *ngIf="frmCandidate.value.livello_studi === 'Not Graduated'">
                <mat-label>{{"CANDIDATE.scoreAverage" | translate}}</mat-label>
                <input matInput formControlName="scoreAverage">
              </mat-form-field>
              <mat-form-field>
                <mat-label *ngIf="frmCandidate.value.livello_studi === 'Graduated'">{{"CANDIDATE.degree_year" | translate}}</mat-label>
                <input matInput formControlName="degreeYear">
              </mat-form-field>
              <mat-form-field *ngIf="frmCandidate.value.livello_studi === 'Graduated' && frmCandidate.value.isReadMaster">
                <mat-label>{{"CANDIDATE.materDescription" | translate}}</mat-label>
                <input matInput formControlName="materDescription">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field *ngIf="frmCandidate.value.livello_studi === 'Graduated' && frmCandidate.value.isReadDoctorate" >
                <mat-label>{{"CANDIDATE.doctorateDescription" | translate}}</mat-label>
                <input matInput formControlName="doctorateDescription">
              </mat-form-field>
              <mat-form-field *ngIf="frmCandidate.value.livello_studi === 'Graduated'">
                <mat-label>{{"CANDIDATE.stateExamination" | translate}}</mat-label>
                <input matInput formControlName="stateExamination">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Area</mat-label>
                <input matInput formControlName="area">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Completaion Date</mat-label>
                <input matInput formControlName="data_completamento">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field>
                <mat-label>Fit Index</mat-label>
                <input matInput formControlName="fitindex">
              </mat-form-field>
            </div>
          </form>

          <div class="form-row" *ngIf="currentPerson && (currentPerson.resumeId || currentPerson.videoId)">
            <button mat-button (click)="downloadCv()" *ngIf="currentPerson && currentPerson.resumeId">
              <mat-icon>download</mat-icon>
              {{'EXTRA_WORD.DownloadCV' | translate}}
            </button>
            <button *ngIf="currentPerson && currentPerson.videoId" mat-button fileSaver [method]="'GET'" [fileName]="currentPerson.nome + '-video-' + momentTime + '.mp4'" [url]="baseImageUrl + currentPerson.videoId">
              <mat-icon>download</mat-icon>
              {{'EXTRA_WORD.DownloadVideo' | translate}}
            </button>
            <!--<button mat-button (click)="downloadVideo()" *ngIf="currentPerson && currentPerson.videoId">
              <mat-icon>download</mat-icon>
                downloadVideo
            </button>-->
          </div>

          <div fxFlex="auto" fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column" fxFlex="2 2 70%" style="max-height: 80px; overflow: auto; border-radius: 10px; border: 1px solid #CCCCCC; padding: 5px;">
              <table mat-table [dataSource]="currentElementHistory">

                <ng-container matColumnDef="updated_at">
                  <th mat-header-cell *matHeaderCellDef>Date & Time</th>
                  <td mat-cell *matCellDef="let element">{{element.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="to_state">
                  <th mat-header-cell *matHeaderCellDef> {{'JOB_APPLICATION.TO_STATE' | translate}} </th>
                  <td mat-cell *matCellDef="let element">{{element.from_state_name | translate}}</td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="notes">
                  <th mat-header-cell *matHeaderCellDef> {{'JOB_APPLICATION.NOTES' | translate}} </th>
                  <td mat-cell *matCellDef="let element">{{element.notes}}</td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="by">
                  <th mat-header-cell *matHeaderCellDef> {{'JOB_APPLICATION.CHANGED_BY' | translate}} </th>
                  <td mat-cell *matCellDef="let element">
                    {{(element.change_by) ? element.change_by : '-'}}
                  </td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="historyDisplayedColumns; "></tr>
                <tr mat-row *matRowDef="let row; columns: historyDisplayedColumns;"></tr>
                <!--<tr mat-footer-row *matFooterRowDef="this.historyDisplayedColumns"></tr>-->
              </table>

            </div>
            <div fxFlex="1 1 30%" style="margin-top:20px;">

              <form #formDirective="ngForm" fxLayout="column" [formGroup]="this.frmChangeStatus" id="frmDetail"
                    (ngSubmit)="this.onSubmit($event, formDirective);">

                <mat-form-field>
                  <mat-label>{{'JOB_APPLICATION.STATUS'|translate}}</mat-label>
                  <mat-select [formControlName]="'from_state_id'">
                    <mat-option *ngFor="let opt of applicationStatusTableData"
                                [value]="opt.id" [disabled]="!isStatusEnabled(opt)">{{opt.description}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>{{'JOB_APPLICATION.NOTES' | translate}}</mat-label>
                  <textarea matInput formControlName="notes" rows="5"></textarea>
                  <mat-error *ngFor="let error of this.frmChangeStatus.get(['notes']).errors | keyvalue; let i=index">
                        <span *ngIf="error.key=== 'required' ">
                          {{ 'JOB_APPLICATION.NOTES_REQUIRED' | translate}}
                        </span>
                  </mat-error>
                </mat-form-field>


               <!-- <pre *ngIf="false" style="height:200px; overflow: auto">
                    {{this.currentElement$ | async | json}}
                  </pre>

                <pre *ngIf="false" style="height:200px; overflow: auto">
                    {{this.frmChangeStatus.getRawValue() | json}}
                  </pre>-->

              </form>
            </div>
          </div>
          <div fxFlex="auto" fxLayout="row" fxLayoutGap="10px" style="margin: 15px 15px 0 0;" *ngIf="currentElementMetric.length > 0">
            <h3 class="fit-index-title">{{'EXTRA_WORD.My_Fit_Indexes' | translate}}</h3>
          </div>
          <div class="hover-content-wrap" fxFlex="auto" fxLayout="row" fxLayoutGap="10px" style="margin: 20px 15px 0 0;" *ngFor="let i=index;let elementMetric of currentElementMetric;">
            <div fxLayout="column" fxFlex="2 2 70%" style="min-height: 100px; border-radius: 10px; border: 1px solid #CCCCCC; padding: 5px;">
              <table mat-table [dataSource]="elementMetric.metrcData">
                <ng-container matColumnDef="quiz">
                  <th mat-header-cell *matHeaderCellDef width="180">{{elementMetric.survey_name}} </th>
                  <td mat-cell *matCellDef="let element" width="180">{{element.metric_name ? element.metric_name : '-'}}</td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="result">
                  <th mat-header-cell *matHeaderCellDef>{{'EXTRA_WORD.Result' | translate}} </th>
                  <td mat-cell *matCellDef="let element">{{element.metric_value ? element.metric_value : '-'}}</td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="fitIndex">
                  <th mat-header-cell *matHeaderCellDef width="200">{{'EXTRA_WORD.FIT_INDEX' | translate}} </th>
                  <td mat-cell *matCellDef="let element" width="200">{{element.result ? element.result : '-'}}</td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="fitIndexValue">
                  <th mat-header-cell *matHeaderCellDef width="160px">{{'EXTRA_WORD.FIT_INDEX_VALUE' | translate}} </th>
                  <td mat-cell *matCellDef="let element" width="160px">
                    <div class="hover-content">
                      <span style="display: flex;align-items: center">{{element.scalarResult ? element.scalarResult : '-'}} / {{elementMetric.maxscalarResult ? elementMetric.maxscalarResult : '-'}} <mat-icon *ngIf="element.scalarResult !== '-' || elementMetric.maxscalarResult !== null" style="color: #8E8E8E;font-size: 22px;margin-left: 7px">help</mat-icon></span>
                      <div class="hover-table" *ngIf="element.scalarResult !== '-' || elementMetric.maxscalarResult !== null">
                        <table mat-table [dataSource]="matricsDataSource[i]" class="mat-elevation-z8 " width="100%" style="min-width: 270px">
                          <ng-container matColumnDef="rules">
                            <th mat-header-cell *matHeaderCellDef style="white-space: nowrap">{{'EXTRA_WORD.Rules' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.operator ? element.operator : '-'}} {{element.value ? element.value : '-'}}</td>
                          </ng-container>
                          <ng-container matColumnDef="textresult">
                            <th mat-header-cell *matHeaderCellDef style="white-space: nowrap">{{'EXTRA_WORD.TextResult' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.result ? element.result : '-'}} </td>
                          </ng-container>
                          <ng-container matColumnDef="scalarresult">
                            <th mat-header-cell *matHeaderCellDef style="white-space: nowrap">{{'EXTRA_WORD.ScalarResult' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.scalarResult ? element.scalarResult : '-'}} </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedMatricsColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedMatricsColumns;"></tr>
                        </table>
                      </div>
                    </div>
                  </td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="FitIndexDisplayedColumns; "></tr>
                <tr mat-row *matRowDef="let row; columns: FitIndexDisplayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="this.displayedColumns"></tr>
              </table>
            </div>
          </div>




          <!--<div fxFlex="auto" fxLayout="row" fxLayoutGap="10px" style="margin: 30px 15px 0px 0px;">
            <div fxLayout="column" fxFlex="2 2 70%" style="min-height: 100px; overflow: auto; border-radius: 10px; border: 1px solid #CCCCCC; padding: 5px;">
              <table mat-table [dataSource]="QUIZ_DATA_1">

                <ng-container matColumnDef="quiz">
                  <th mat-header-cell *matHeaderCellDef>{{'EXTRA_WORD.Quiz' | translate}} - 2</th>
                  <td mat-cell *matCellDef="let element">{{element.quiz}}</td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="result">
                  <th mat-header-cell *matHeaderCellDef>{{'EXTRA_WORD.Result' | translate}} </th>
                  <td mat-cell *matCellDef="let element">{{element.result}}</td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="fitIndex">
                  <th mat-header-cell *matHeaderCellDef>{{'EXTRA_WORD.FIT_INDEX' | translate}} </th>
                  <td mat-cell *matCellDef="let element">{{element.fitIndex}}</td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="fitIndexValue">
                  <th mat-header-cell *matHeaderCellDef>{{'EXTRA_WORD.FIT_INDEX_VALUE' | translate}} </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.fitIndexValue}}
                  </td>
                  <td mat-footer-cell *matFooterCellDef="let element"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="FitIndexDisplayedColumns; "></tr>
                <tr mat-row *matRowDef="let row; columns: FitIndexDisplayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="this.displayedColumns"></tr>
              </table>

            </div>
          </div>-->

        </mat-card-content>
        <mat-card-footer class="card-footer">
          <button mat-flat-button class="action-button" color="primary"
                  (click)="onCancelClick()">{{'GENERAL.CANCEL'|translate}}</button>
          <span class="width-5"></span>
          <button mat-flat-button class="action-button" color="primary" [disabled]="!this.frmChangeStatus.valid"
                  type="submit" form="frmDetail">{{'GENERAL.SAVE'|translate}}</button>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab  label="Additional Details" *ngIf="this.showDetail">
    <div *ngIf="additionalData?.customFields?.length == 0" class="stepper-form-head" style="justify-content: center;">
      <h2 style="font-weight: 400;font-size: 14px;padding: 0px 20px;text-align: center;">{{'GENERAL.NoDataAvailable' | translate}}</h2>
    </div>
    <div class="general-container">
      <div *ngFor="let additionalData of additionalData?.customFields;let i = index" class="form-field mb-5">
        <h4>Q{{i + 1}}. {{additionalData.question ? additionalData.question : '-'}}</h4>
        <!-- <p>{{(quiz?.answer[0] && findOnlyManager(server.surveyPrivacy)) ? quiz.answer[0] : '-'}}</p>-->
        <p>{{additionalData.answer ? additionalData.answer : '-'}}</p>
      </div>
    </div>
  </mat-tab>
  <mat-tab  label=" Quiz" *ngIf="this.showDetail">
    <div class="stepper-form-content">
      <ng-template matTabContent>
        <mat-tab-group #tabgroup2 class="group-tab">
          <mat-tab *ngFor="let server of conditionQuestionList" label="{{server.surveyName}}">
            <ng-template matStepLabel>{{server.surveyName}}</ng-template>
            <div class="stepper-form-content">
              <div *ngFor="let quiz of server.questionData;let i = index" class="form-field mb-5">
                <h4>Q{{i + 1}}. {{quiz.question}}</h4>
                <!-- <p>{{(quiz?.answer[0] && findOnlyManager(server.surveyPrivacy)) ? quiz.answer[0] : '-'}}</p>-->
                <p>{{quiz?.answer[0] ? quiz.answer[0] : '-'}}</p>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
        <div *ngIf="!surveyQuestion?.length > 0" class="stepper-form-head" style="justify-content: center;">
          <h2 style="font-weight: 400;font-size: 14px;padding: 0px 20px;text-align: center;">{{'GENERAL.NoDataAvailable' | translate}}</h2>
        </div>
      </ng-template>

      <div *ngFor="let quiz of surveyQuestion;let i = index" class="form-field mb-5">
        <ng-container *ngIf="quiz.type !== 'FreeText'">
          <h4>Q{{i + 1}}. {{quiz.question_label}}</h4>
          <p>{{(quiz.answers?.value) ? quiz.answers.value : '-'}}</p>
        </ng-container>
        <ng-container *ngIf="quiz.type === 'FreeText'">
          <h4>Q{{i + 1}}. {{quiz.question_label}}</h4>
          <p>{{(quiz.givenAnswer) ? quiz.givenAnswer : '-'}}</p>
        </ng-container>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
