<section class="login">
    <div class="container">
        <div class="login-box">
            <div class="row">
                <div class="col-lg-7 d-flex align-item-center">
                    <div class="banner-img">
                        <img src="assets/images/forgot-password-img.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-content">
                        <div  class="back-btn" (click)="back()"><mat-icon>arrow_back</mat-icon> {{'GENERAL.Back' | translate}}</div>
                        <div class="logo">
                            <img src="assets/images/legance-color.svg" routerLink="" alt="">
                        </div>
                      <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="form-wrapper">
                                <div class="input-wrapper">
                                    <div class="form-title">
                                        <h3>{{'FORGOT_PASSWORD.ForgotPassword' | translate}}</h3>
                                        <p>{{'FORGOT_PASSWORD.ForgotPasswordInstructions' | translate}}</p>
                                    </div>
                                    <div class="form-field m-0">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>{{'FORGOT_PASSWORD.User ID' | translate}}</mat-label>
                                            <input matInput formControlName="email"  type="text" id="email" name="email" maxlength="50">
                                            <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.required" >{{'ThisFieldIsRequired' | translate}}</mat-error>
<!--                                            <mat-error *ngIf="emailFormControl.hasError('required')">Please enter your email id.</mat-error>-->
                                           <!-- <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.pattern">{{'FORGOT_PASSWORD.Email_Address_Valid' | translate}}</mat-error> -->
                                         </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-btn">
                                    <button mat-button  type="submit"  class="full-btn">{{'GENERAL.Submit' | translate}}</button>
                                </div>
                                <div class="login-footer text-center">
                                    <img src="assets/images/nunow-footer.png" routerLink="" alt="">
                                    <p>{{'GENERAL.copyRight' | translate}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

