<section class="login">
    <div class="container">
        <div class="login-box">
            <div class="row">
                <div class="col-lg-7 d-flex align-item-center">
                    <div class="banner-img">
                        <img src="assets/images/reset-password-img.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-content">
                        <div *ngIf="!otpDisabled" class="back-btn" (click)="back()"><mat-icon>arrow_back</mat-icon> {{'GENERAL.Back' | translate}}</div>
                        <div class="logo">
                            <img src="assets/images/legance-color.svg" routerLink="" alt="">
                        </div>
                      <form name="resetPasswordForm" [formGroup]="resetPasswordForm"  (ngSubmit)="onSubmit()">
                            <div class="form-wrapper">
                                <div class="input-wrapper">
                                    <div class="form-title">
                                        <h3>{{'RESET_PASSWORD.ResetPassword' | translate}}</h3>
                                        <p>{{'RESET_PASSWORD.ResetPasswordInstructions' | translate}}</p>
                                    </div>
                                    <div class="form-field resentOTP-parent" >
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>{{ 'RESET_PASSWORD.otp' | translate}}</mat-label>
                                            <input matInput formControlName="otp" minlength="6" type="text" id="otp" name="otp" maxlength="6" autocomplete="off" (keypress)="numberOnly($event)" [readonly]="otpDisabled">
                                            <mat-error *ngIf="resetPasswordForm.controls.otp.errors?.required">{{ 'RESET_PASSWORD.otpRequired' | translate}}</mat-error>
                                            <mat-error *ngIf="resetPasswordForm.controls.otp.errors?.minlength">{{ 'RESET_PASSWORD.otpERROR' | translate}}</mat-error>
                                         </mat-form-field>
                                         <div *ngIf="!otpDisabled" class="otp-resend" (click)="resendOTP()">{{'Resend OTP' | translate}}</div>
                                    </div>

                                    <div class="form-field m-0">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>{{'RESET_PASSWORD.NewPassword' | translate}}</mat-label>
                                            <input matInput  formControlName="newPassword" minlength="6" type="password" id="password" name="newPassword" maxlength="50">
                                            <mat-error *ngIf="resetPasswordForm.controls.newPassword.errors?.required" >{{'RESET_PASSWORD.NewPasswordRequired' | translate}}</mat-error>
<!--                                          <mat-error *ngIf="newPasswordFormControl.errors?.minlength">New password must be at least 6 characters long.</mat-error>-->
<!--                                            <mat-error *ngIf="newPasswordFormControl.hasError('required')">Please enter new password.</mat-error>-->
                                         </mat-form-field>
                                    </div>
                                    <div class="form-field m-0">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                          <mat-label>{{'RESET_PASSWORD.ConfirmNewPassword' | translate}}</mat-label>
                                          <input matInput formControlName="confPassword" minlength="6"  name="password"  [type]="hide ? 'password' : 'text'">
                                          <mat-error *ngIf="resetPasswordForm.controls.confPassword.errors?.required" >{{'RESET_PASSWORD.ConfirmPasswordRequired' | translate}}</mat-error>
<!--                                          <mat-error *ngIf="resetPasswordForm.errors?.minlength">Confirm new password must be at least 6 characters long.</mat-error>-->
                                          <mat-error *ngIf="resetPasswordForm.controls.confPassword.errors?.confirmedValidator">{{'RESET_PASSWORD.ConfirmPasswordMatch' | translate}}</mat-error>
<!--                                          <mat-error *ngIf="ConfirmedValidator('notEquivalent','')">-->
<!--                                            Your Password does't Match-->
<!--                                          </mat-error>-->
                                          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                          </button>
                                         </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-btn">
                                    <button mat-button  type="submit"  class="full-btn">{{'GENERAL.Login' | translate}}</button>
                                </div>
                                <div class="login-footer text-center">
                                    <img src="assets/images/nunow-footer.png" routerLink="" alt="">
                                    <p>{{'GENERAL.copyRight' | translate}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

