<form action="" [formGroup]="changePasswordPopupForm" (ngSubmit)="changePasswordFormSubmit()">
    <section class="popups">
        <div class="popup-header">
            <div class="header-content">
                <h4>Change Password</h4>
                <img src="./assets/images/cross-icon.svg" (click)="onNoClick()" alt="">
            </div>
        </div>
        <div class="popup-body pb-0">
              <div class="row">
                  <div class="col-sm-12">
                      <div  class="form-field">
                          <mat-form-field appearance="outline" class="element-full-width">
                              <mat-label>New Password</mat-label>
                              <input formControlName="newPassword" matInput [type]="hide ? 'password' : 'text'" name="newPassword">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                              <mat-error *ngIf="changePasswordPopupForm.controls.newPassword.errors?.minlength">New password must be at least 6 characters long.</mat-error>
                              <mat-error *ngIf="changePasswordPopupForm.controls.newPassword.errors?.required">Please enter new password</mat-error>
                          </mat-form-field>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="form-field">
                          <mat-form-field appearance="outline" class="element-full-width">
                              <mat-label>Confirm New Password</mat-label>
                              <input formControlName="confirmNewPassword" matInput [type]="hide1 ? 'password' : 'text'" name="confirmNewPassword">
                              <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                  <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                              <mat-error *ngIf="changePasswordPopupForm.controls.confirmNewPassword.errors?.minlength">Confirm new password must be at least 6 characters long.</mat-error>
                              <mat-error *ngIf="changePasswordPopupForm.controls.confirmNewPassword.errors?.required">Please re-enter new password.</mat-error>
                              <mat-error *ngIf="checkIfMatchingPasswords('notEquivalent','')">
                                  Your Password doesn't Match
                              </mat-error>
                          </mat-form-field>
                      </div>
                  </div>
              </div>
        </div>
        <div class="popup-footer">
          <div class="footer-content footer-right">
            <button type="button" class="btn-style inactive" (click)="onNoClick()">Cancel</button>
            <button type="submit" class="btn-style theme-btn">Save</button>
          </div>
        </div>
    </section>
</form>
