<section class="login equal-height">
    <div class="container">
        <div class="login-box">
            <div class="row">
                <div class="col-lg-7 d-flex align-item-center">
                    <div class="banner-img">
                        <img src="./assets/images/reset-password-img.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-content">
                        <div class="back-btn" routerLink=""><mat-icon>arrow_back</mat-icon>{{'GENERAL.Back' | translate}}</div>
                        <div class="logo">
                            <img src="./assets/images/legance-color.svg" routerLink="" alt="">
                        </div>
                        <form name="loginForm" [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onSubmit()">
                            <div class="form-wrapper">
                                <div class="input-wrapper">
                                    <div class="form-title">
                                        <h3>{{'RESETPASSWORDFORM.ResetPassword' | translate }}</h3>
                                        <p>{{ 'RESETPASSWORDFORM.create_Password_Info' | translate}}</p>
                                    </div>
                                    <div class="form-field m-0">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>{{ 'RESETPASSWORDFORM.otp' | translate}}</mat-label>
                                            <input matInput formControlName="otp" minlength="6" type="text" id="otp" name="otp" maxlength="6" autocomplete="off" (keydown)="space($event)">
                                            <mat-error *ngIf="resetPasswordForm.controls.otp.errors?.required">{{ 'RESETPASSWORDFORM.otpRequired' | translate}}</mat-error>
                                            <!-- <mat-error *ngIf="resetPasswordForm.controls.otp.errors?.minlength">{{ 'RESETPASSWORDFORM.otpERROR' | translate}}</mat-error> -->
                                            <mat-error *ngIf="resetPasswordForm.controls.otp.errors?.pattern">{{'MYACCOUNT.EnterOnlyNumber' | translate}}</mat-error>
                                         </mat-form-field>
                                    </div>
                                    <div class="form-field m-0">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>{{ 'RESETPASSWORDFORM.NewPassword' | translate}}</mat-label>
                                            <input [type]="hide ? 'password' : 'text'" autocomplete="off" formControlName="password" id="password" matInput maxlength="50" minlength="6" name="password">
                                            <mat-error *ngIf="resetPasswordForm.controls.password.errors?.required">{{ 'RESETPASSWORDFORM.NewPasswordRequired' | translate}}</mat-error>
                                            <mat-error *ngIf="resetPasswordForm.controls.password.errors?.minlength">{{ 'RESETPASSWORDFORM.NewPasswordERROR' | translate}}</mat-error>
                                          <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button matSuffix type="button">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                          </button>
                                         </mat-form-field>
                                    </div>
                                    <div class="form-field m-0">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>{{ 'RESETPASSWORDFORM.ConfirmPassword' | translate}}</mat-label>
                                            <input [type]="hide_1 ? 'password' : 'text'" formControlName="confirmPassword" matInput  minlength="6"  name="passwordf">
                                            <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.errors?.required"> {{ 'RESETPASSWORDFORM.ConfirmPasswordRequired' | translate}}</mat-error>
                                            <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.errors?.minlength">{{ 'RESETPASSWORDFORM.ConfirmPasswordERROR' | translate}}</mat-error>
                                            <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.errors?.confirmedValidator">{{ 'RESETPASSWORDFORM.PasswordDoesnotMatch' | translate}}</mat-error>
                                            <!-- <mat-error *ngIf="checkIfMatchingPasswords('notEquivalent','')">
                                                {{ 'RESETPASSWORDFORM.PasswordDoesnotMatch' | translate}}
                                            </mat-error> -->
                                            <button (click)="hide_1 = !hide_1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button matSuffix type="button">
                                              <mat-icon>{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                         </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-btn">
                                    <button class="full-btn"  mat-button type="submit">{{'GENERAL.Submit' | translate }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

