<section class="login-signup forgot-password">
    <div class="login-box">
        <div class="left-part">
            <span routerLink="/" style="cursor: pointer;">
              <img src="assets/image/legance-white.svg" class="legance-logo" alt=" lagacy Logo">
            </span>
            <p>{{'HOMEPAGE.BannerTitle' | translate}}</p>
          <div class="banner-image">
            <img [src]="loginImg" alt="">
          </div>
        </div>
        <div class="right-part">
            <form name="resetPassword" [formGroup]="resetPasswordForm" novalidate (ngSubmit)="OnResetPass()" #myform="ngForm">
                <div class="ragister">
                    <h3>{{'RESETPASSWORDFORM.ResetPassword' | translate}}</h3>
                    <hr>
                    <div label="Login" class="login-pass">
                        <div class="login-form">
                            <p>{{'RESETPASSWORDFORM.ResetPasswordDescription' | translate}}</p>
                            <div class="input-wrapper">
                              <div class="form-field">
                                <label for="t-password">{{'RESETPASSWORDFORM.ConfirmationCode' | translate}}</label>
                                <mat-form-field appearance="outline">
                                    <input matInput id="t-password" type="password" formControlName="resetCode" placeholder="{{'RESETPASSWORDFORM.ConfirmationCode' | translate}}">
                                    <mat-error *ngIf="resetPasswordForm.controls.resetCode.errors?.required">
                                      {{'RESETPASSWORDFORM.ConfirmationCodeRequired' | translate}}
                                    </mat-error>
                                  </mat-form-field>
                                  </div>
                                  <div class="form-field">
                                <label for="n-password">{{'RESETPASSWORDFORM.NewPassword' | translate}}</label>
                                <mat-form-field appearance="outline">
                                    <input matInput id="n-password" type="password" formControlName="password" placeholder="{{'RESETPASSWORDFORM.NewPassword' | translate}}">
                                    <mat-error *ngIf="resetPasswordForm.controls.password.errors?.required">
                                      {{'RESETPASSWORDFORM.NewPasswordRequired' | translate}}
                                    </mat-error>
                                  </mat-form-field>
                                  </div>
                                  <div class="form-field">
                                <label for="c-password">{{'SIGNUPPAGE.ConfirmPassword' | translate}}</label>
                                <mat-form-field appearance="outline">
                                    <input matInput id="c-password" type="password" formControlName="confirmPassword" placeholder="{{'SIGNUPPAGE.ConfirmPassword' | translate}}">
                                    <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.errors?.required">
                                      {{'SIGNUPPAGE.ConfirmPasswordRequired' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.errors?.confirmedValidator">
                                      {{'SIGNUPPAGE.PasswordDoesnotMatch' | translate}}
                                    </mat-error>
                                    <!-- <mat-error *ngIf="checkIfMatchingPasswords('notEquivalent','')">
                                      {{'SIGNUPPAGE.PasswordDoesnotMatch' | translate}}
                                    </mat-error> -->
                                  </mat-form-field>
                                  </div>
                                <div class="login-btn">
                                    <button mat-raised-button type="submit" class="btn-submit"
                                    style="background-color: #002A3A;color: #fff;height: 100%;width: 100%;">{{'GENERAL.Submit' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
