.book-item {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 10px;
    background: white;
    border: 0px solid black;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(75 107 162 / 40%);

    .header {
        margin: 0 0 5px 0;
        font-weight: bold;
        display: flex;
    }

    .header-event-icon {
        margin-top: auto;
        margin-bottom: auto;
    }

    .header-date {
        flex-grow: 1;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        font-size: large;
    }

    .header-expired {
        font-weight: bold;
        font-style: italic;
    }

    .header-map-button {

    }

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .timeframes {
            width: 100%;
            display: flex;
            flex-direction: column;

            .timeframe-card {
                display: flex;
                flex-direction: row;
                background: #eeeeee;
                border-radius: 5px;
                padding: 5px;
                margin-top: 3px;
                margin-bottom: 3px;

                .timeframe-content {
                    flex-grow: 1;
                    margin-left: 5px;
                    display: flex;
                    flex-direction: column;

                    .timeframe-content-title {
                        font-size: large;
                        font-weight: bold;
                    }

                    .timeframe-content-time {
                        display: flex;
                        flex-direction: row;
                        margin-top: 5px;

                        .clock-icon {
                            font-size: large;
                            margin-right: 10px;
                        }

                        .time-text {
                            margin-top: auto;
                            margin-bottom: auto;
                        }
                    }
                }

                .timeframe-action {
                    align-self: flex-end;
                }
            }
        }
    }
}
