.title {
    text-align: center;
}

.custom-dialog-container {
    text-align: center;
}

.qr-code {
    margin-top: 20px;
    flex-grow: 1;
}

.print-button {
    margin-top: 20px;
    margin-bottom: 20px;
}
