<section class="login">
    <div class="container">
        <div class="login-box">
            <div class="row">
                <div class="col-lg-7 d-flex align-item-center">
                    <div class="banner-img">
                        <img src="./assets/images/reset-password-img.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-content">
                        <div class="back-btn" routerLink=""><mat-icon>arrow_back</mat-icon> Back</div>
                        <div class="logo">
                            <img src="./assets/images/logo-login.svg" routerLink="" alt="">
                            <h4>Irina NuNow</h4>
                        </div>
                        <form name="loginForm" [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onSubmit()">
                            <div class="form-wrapper">
                                <div class="input-wrapper">
                                    <div class="form-title">
                                        <h3>Reset Password</h3>
                                        <p>Please create a new password.</p>
                                    </div>
                                  <div class="form-field m-0">
                                    <mat-form-field appearance="outline" class="element-full-width">
                                      <mat-label>OTP</mat-label>
                                      <input formControlName="otp" id="otp" matInput maxlength="50" minlength="6" name="otp" type="text">
                                      <mat-error *ngIf="resetPasswordForm.controls.otp.errors?.required">Please enter OTP.</mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div class="form-field m-0">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>New Password</mat-label>
                                            <input formControlName="password" id="password" matInput maxlength="50" minlength="6" name="password" type="password">
                                            <mat-error *ngIf="resetPasswordForm.controls.password.errors?.required">Please enter new password.</mat-error>
                                            <mat-error *ngIf="resetPasswordForm.controls.password.errors?.minlength">New password must be at least 6 characters long.</mat-error>
                                         </mat-form-field>
                                    </div>
                                    <div class="form-field m-0">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>Confirm New Password</mat-label>
                                            <input [type]="hide ? 'password' : 'text'" formControlName="conf_password" matInput  minlength="6"  name="passwordf">
                                            <mat-error *ngIf="resetPasswordForm.controls.conf_password.errors?.required">Please re-enter new password..</mat-error>
                                            <mat-error *ngIf="resetPasswordForm.controls.conf_password.errors?.minlength">Confirm new password must be at least 6 characters long.</mat-error>
                                            <mat-error *ngIf="checkIfMatchingPasswords('notEquivalent','')">
                                              Your Password doesn't Match
                                            </mat-error>
                                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                         </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-btn">
                                    <button class="full-btn"  mat-button type="submit">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

