<section class="signup-submit">
    <header class="text-center">
        <!-- <img src="assets/images/logo-white.svg" routerLink="" alt=""> -->
        <img src="assets/images/legance-white.svg" routerLink="" alt=" lagacy Logo">
        <hr>
        <div class="title"><h2>{{'SIGNUP.Invitation_Request_Declined' | translate}}</h2></div>
    </header>
    <div class="main-content">
        <p>{{'SIGNUP.Invitation_Request_Declined_Info' | translate}}</p>
        <!-- <h5>{{'SIGNUP.approvedSupplier' | translate }} <span routerLink=""> {{'SIGNUP.clickToLogin' | translate }}</span> </h5> -->
    </div>
</section>
