<section class="client-management">
    <div class="row">
        <div class="col-md-12">
            <nav>
                <ol class="breadcrumb box-style">
                    <li routerLink="/access-control/dashboard" class="breadcrumb-item">{{'ACCESS_CONTROL.AccessControl'| translate}}</li>
                    <li routerLink="/access-control/systems" class="breadcrumb-item">{{'ACCESS_CONTROL.Systems'| translate}}</li>
                    <li *ngIf="isNew" class="breadcrumb-item active" aria-current="page">{{'ACCESS_CONTROL.AddSystem'| translate}}</li>
                    <li *ngIf="!isNew && system" class="breadcrumb-item active" aria-current="page">{{'ACCESS_CONTROL.EditSystem'| translate}} <b>{{system.name}}</b></li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12">
            <mat-vertical-stepper #stepper [linear]="isNew" class="vertical-stepper-style" labelPosition="bottom">
                <mat-step>
                    <ng-template matStepLabel>
                        {{'ACCESS_CONTROL.General'| translate}}
                    </ng-template>
                    <ng-template matStepperIcon="edit">
                        <mat-icon>bubble_chart</mat-icon>
                    </ng-template>
                    <div class="table-content box-style">
                        <div class="table-heading">
                            <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items:center; align-content: center; justify-items: center; gap: 20px">
                                <h3 style="font-weight: 600;">
                                    <span>{{'ACCESS_CONTROL.General'| translate}}</span>
                                </h3>
                                <ng-container *ngIf="checking">
                                    <label class="btn-style table-btn sm-btn label-btn" style="color: #d5aa00;border: 1px solid #d5aa00;background: rgba(213,170,0,.1);min-width:80px;" disabled>
                                        Checking...
                                    </label>
                                </ng-container>
                                <ng-container *ngIf="system && !checking">
                                    <label *ngIf="system.state == acState.ONLINE_INVALID" class="btn-style table-btn sm-btn label-btn" style="color: #ea5455;border: 1px solid #ea5455;background-color: rgba(234,84,85,.1);min-width:80px;" disabled>
                                        Token Error
                                    </label>
                                    <label *ngIf="system.state == acState.OFFLINE" class="btn-style table-btn sm-btn label-btn" style="color: #ea5455;border: 1px solid #ea5455;background-color: rgba(234,84,85,.1);min-width:80px;" disabled>
                                        Offline
                                    </label>
                                    <label *ngIf="system.state == acState.ONLINE_VALID" class="btn-style table-btn sm-btn label-btn" style="color: #22c55e;border: 1px solid #22c55e;background-color: rgba(34,197,94,.10196078431372549);min-width:80px;" disabled>
                                        Online
                                    </label>
                                </ng-container>
                            </div>
                            <div class="search-form-wrapper">
                                <div class="buttons-group">
                                    <p><span style="color:#EA5455">*</span> {{'GENERAL.Indicates a required field'|translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-content-box">
                            <form class="w-100" name="addGeneralInfoForm" [formGroup]= "addGeneralInfoForm"  novalidate #myform="ngForm" (ngSubmit)="onSystemSubmit()">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-field error-message-custom">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>{{'ACCESS_CONTROL.SystemName'| translate}} <span style="color:#EA5455">*</span></mat-label>
                                                <input type="text" formControlName="name" matInput name="name" >
                                                <mat-error *ngIf="addGeneralInfoForm.controls.name.errors?.required" >
                                                  {{'ACCESS_CONTROL.EnterSystemName'| translate}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>{{'ACCESS_CONTROL.SystemType'| translate}} <span style="color:#EA5455">*</span></mat-label>
                                                <mat-select formControlName="type" [(ngModel)]="selectedSystem">
                                                    <mat-option *ngFor="let systemType of systemTypeList" value="{{systemType}}">{{systemType}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="addGeneralInfoForm.controls.type.errors?.required">
                                                    {{'ACCESS_CONTROL.SelectSystemType'| translate}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>{{'ACCESS_CONTROL.SystemUrl'| translate}} <span style="color:#EA5455">*</span></mat-label>
                                                <input type="text" formControlName="url" matInput name="url" (change)="checkSystem()">
                                                <mat-error *ngIf="addGeneralInfoForm.controls.url.errors?.required" >
                                                    {{'ACCESS_CONTROL.EnterSystemUrl'| translate}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-field">
                                        <mat-form-field appearance="outline" class="element-full-width">
                                            <mat-label>Token <span style="color:#EA5455">*</span></mat-label>
                                            <input type="text" formControlName="token" matInput name="token" (change)="checkSystem()">
                                            <mat-error *ngIf="addGeneralInfoForm.controls.token.errors?.required" >
                                                {{'ACCESS_CONTROL.EnterSystemToken'| translate}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>{{'ACCESS_CONTROL.GroupId'| translate}} <span style="color:#EA5455">*</span></mat-label>
                                                <input  type="number" formControlName="groupId" matInput name="groupId" (change)="checkSystem()">
                                                <mat-error *ngIf="addGeneralInfoForm.controls.groupId.errors?.required" >
                                                  {{'ACCESS_CONTROL.EnterSystemGroupId'| translate}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-field">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>{{'ACCESS_CONTROL.GroupName'| translate}} <span style="color:#EA5455">*</span></mat-label>
                                                <input type="text" formControlName="groupName" matInput name="groupName" (change)="checkSystem()">
                                                <mat-error *ngIf="addGeneralInfoForm.controls.groupName.errors?.required" >
                                                  {{'ACCESS_CONTROL.EnterSystemGroupName'| translate}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-footer d-flex justify-content-between">
                                    <button class="btn-style red-line-btn" routerLink="/access-control/systems" type="button"> {{'GENERAL.Cancel'| translate}}</button>
                                    <button class="btn-style theme-btn"  type="submit" >{{'GENERAL.Save&Finish'| translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
    </div>
</section>
