<section class="client-management">
    <div class="row">
        <div class="col-md-12">
            <!-- <nav>
                <ol class="breadcrumb box-style">
                    <li routerLink="/procurement-dashboard" class="breadcrumb-item">{{'INSIGHTS_MENU.DASHBOARD' | translate}}</li>
                    <li class="breadcrumb-item">{{'INSIGHTS_MENU.PROCUREMENT' | translate}}</li>
                    <li class="breadcrumb-item active" aria-current="page">{{'INSIGHTS_MENU.PROCUREMENT_MANAGE_SERVICE' | translate}}</li>
                </ol>
            </nav> -->
            <app-breadcrumb [title]="'INSIGHTS_MENU.PROCUREMENT'" [title3]="'INSIGHTS_MENU.PROCUREMENT_MANAGE_SERVICE'">
            </app-breadcrumb>
        </div>
        <div class="col-md-12">
            <div class="common-tabbing">
                <div class="table-content box-style company-info">
                    <div class="table-heading">
                        <h3 style="font-weight: 600">{{'INSIGHTS_MENU.PROCUREMENT_MANAGE_SERVICE' | translate}}</h3>
                        <div class="search-form-wrapper">
                            <!-- <button class="btn-style red-bordered-btn" >View All</button> -->
                            <div class="search-form">
                                <!--                <input (keyup)="onKeyUp($event)" [(ngModel)]="search" mat-input placeholder="{{'Procurement_Management.SearchService' | translate}}" />-->
                                <!--                <mat-icon matSuffix class="material-icons">search</mat-icon>-->
                                <mat-icon matPrefix class="material-icons search">search</mat-icon>
                                <input (keyup)="onKeyUp($event)" #searchBox [(ngModel)]="search" mat-input placeholder="{{'Procurement_Management.SearchService' | translate}}" />
                                <mat-icon *ngIf="this.search !== '' " class="material-icons clear" (click)="resetSearch()">clear</mat-icon>
                            </div>
                            <button class="btn-style" routerLink="add-edit-services">
                                <span class="material-icons">add</span>{{'Procurement_Management.AddService' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="table-wrapper resource-color-table">
                        <table [dataSource]="serviceList | paginate: {itemsPerPage: this.itemsPerPage, currentPage: this.page, totalItems: this.totalItems }" mat-table style="width: 100%">
                            <ng-container matColumnDef="wheelAction">
                                <th mat-header-cell *matHeaderCellDef style="width: 100px;">
                                    {{'TABLE.Action' | translate}}
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" style="width: 100px;">
                                    <!-- <div class="hover-effect-menu three-icons">
                                        <div class="short-arrow">
                                            <span class="material-icons">more_horiz</span>
                                            <span class="badge-notify" *ngIf="element.unreadCount > 0">{{element.unreadCount}}</span>
                                        </div>
                                        <div class="hover-round-effect">
                                            <button mat-menu-item routerLink="view-details/{{element.id}}" matTooltip="{{'TABLE.ViewDetails' | translate}}">
                                                <span class="material-icons">remove_red_eye</span>
                                            </button>
                                            <button mat-menu-item routerLink="add-edit-services/{{element.id}}" matTooltip="{{'Edit' | translate}}">
                                                <span class="material-icons">edit</span>
                                            </button>
                                            <button mat-menu-item (click)="openRFQDeleteDialog(element.id, i)" matTooltip="{{'Delete' | translate}}">
                                                <span class="material-icons">delete</span>
                                            </button>
                                        </div>
                                    </div> -->
                                    <app-wheel-action [icons]="'three'" [viewOn]="true" [editOn]="true" [deleteOn]="true" [element]="element"
                                (edit)="edit($event)" (view)="view($event)" (delete)="openRFQDeleteDialog($event)"></app-wheel-action>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="serviceName">
                                <th (click)="changeSorting('serviceName')" *matHeaderCellDef class="short-arrow" mat-header-cell>
                                    {{'Procurement_Management.ServiceName' | translate}} <span [ngClass]="sortClass"><img alt="" src="assets/images/up-arrow.svg"></span>
                                </th>
                  <td mat-cell *matCellDef="let element" style="white-space: nowrap;text-transform: capitalize;">{{element.serviceName}}</td>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <th (click)="changeSorting('descriptionEnglish')" *matHeaderCellDef class="short-arrow" mat-header-cell style="min-width: 260px;">
                                    {{'TABLE.Description' | translate}}<span [ngClass]="sortClass"><img alt="" src="assets/images/up-arrow.svg"></span>
                                </th>
                                <td mat-cell *matCellDef="let element" style="min-width: 260px;">{{ element.descriptionEnglish }}</td>
                            </ng-container>

                            <ng-container matColumnDef="serviceType">
                                <th mat-header-cell *matHeaderCellDef> {{'Procurement_Management.Active_Inactive_Service' | translate}}</th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-slide-toggle class="custom-switch-style"></mat-slide-toggle>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="viewDetails">
                                <th mat-header-cell *matHeaderCellDef style="min-width: 100px;">{{'TABLE.ViewDetails' | translate}}</th>
                                <td mat-cell *matCellDef="let element" style="min-width: 100px;">
                                    <button class="btn-style table-btn theme-line-btn sm-btn" routerLink="view-details/{{element.id}}">
                                        {{'TABLE.ViewDetails' | translate}}
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef style="width: 100px;">
                                    {{'TABLE.Action' | translate}}
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" style="width: 100px;">
                                    <div class="action-icons d-flex switch">
                                        <img alt="" class="" routerLink="add-edit-services/{{element.id}}" src="assets/images/edit-action.svg">
                                        <img (click)="openRFQDeleteDialog(element.id, i)" alt="" src="assets/images/delete-action.svg">
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="RFQDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let element; columns: RFQDisplayedColumns"></tr>
                        </table>
                    </div>
                    <!-- <div *ngIf="!noRecordFound" class="no-record-found">{{'TABLE.No_record_found' | translate}}</div>
                    <div *ngIf="noRecordFound" class="paginate-footer">
                        <div class="page-item">
                            <h3>{{'TABLE.Items_per_page' | translate}}</h3>
                            <mat-form-field appearance="fill">
                                <mat-select (selectionChange)="changeSelectOption()" [(ngModel)]="itemsPerPage">
                                    <mat-option value="5" selected>5</mat-option>
                                    <mat-option value="10">10</mat-option>
                                    <mat-option value="15">15</mat-option>
                                    <mat-option value="20">20</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="total-record-info">{{(((page - 1) * itemsPerPage) + 1)}} - {{((itemsPerPage * page) < totalItems) ? (itemsPerPage * page) : totalItems}} of {{totalItems}}</span>
                        </div>
                        <div class="table-paginator">
                            <pagination-controls (pageChange)="pageChanged($event)" responsive="true"></pagination-controls>
                        </div>
                    </div> -->
                    <app-pagination [noRecordFound]="noRecordFound"
                [itemsPerPage]="itemsPerPage" [page]="page" (pageChange)="pageChanged($event)" (changeItem)="changeSelectOption($event)"
              [totalItems]="totalItems"></app-pagination>
                </div>
            </div>
        </div>
    </div>
</section>
