<section class="popups">
    <div class="popup-header">
        <div class="header-content">
            <h4>{{data.heading}}</h4>
            <img src="assets/images/cross-icon.svg" (click)="onPopupClick(false)" alt="">
        </div>
    </div>
    <div class="popup-body">
        <div class="popup-content m-auto text-center">
            <img src="{{imgUrl}}" class="delete-img"  alt="">
            <p>{{data.message}}</p>
        </div>
    </div>
    <hr>
    <div class="popup-footer">
        <div class="footer-content">
            <button class="btn-style theme-btn" (click)="onPopupClick(true)">Yes</button>
            <button class="btn-style inactive" (click)="onPopupClick(false)">No</button>
        </div>
    </div>
</section>
