<h2 mat-dialog-title><b>QR CODE</b></h2>

<mat-dialog-content>
    <div class="dialog-container">
        <div *ngIf="validQrCode()">
            <qr-code #qrcode class="qr-code" [value]="customQrCode.qrcode" [level]="qrLevel" [size]="300"></qr-code>
        </div>
        <div *ngIf="!validQrCode()" class="loader" >{{'ACCESS_CONTROL.QrCodeNotGenerated'|translate}}</div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <ng-container>
        <button mat-flat-button class="action-button" color="primary"
            (click)="onSendEmail(qrcode)" [disabled]="!validQrCode()">{{'ACCESS_CONTROL.SendEmail'|translate}}</button>
        <button mat-flat-button class="action-button" color="primary"
            (click)="onCancel()">{{'GENERAL.CLOSE'|translate}}</button>
    </ng-container>
</mat-dialog-actions>