<form class="w-100" name="secretCodeForm" [formGroup]= "secretCodeForm"  novalidate (ngSubmit)="savesecretCode()" #myform="ngForm">
    <div class="form-main table-content box-heading">
        <h3>{{'Event management Secret code' | translate}}</h3>
        <div class="form-row-wrapper">
            <div class="row">
                <div class="col-lg-6 col-xl-4">
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="element-full-width">
                            <mat-label>{{'EDIT COMPANY.SecretCode' | translate}}</mat-label>
                            <input formControlName="secretCode" matInput name="secretCode" required type="text">
                            <mat-error *ngIf="secretCodeForm.controls.secretCode.errors?.required">
                                {{'EDIT COMPANY.EnterSecretCode' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <button class="btn-style theme-btn" type="submit">{{'GENERAL.Save' | translate}}</button>
        </div>
    </div>
</form>
