<section class="popups">
    <div class="popup-header">
        <div class="header-content">
            <h4>{{'ASSETS_MANAGEMENT.BOOKING' |translate}}</h4>
            <img (click)="onNoClick()" alt="" src="assets/images/cross-icon.svg">
        </div>
    </div>
    <div class="popup-body">
        <div class="popup-content m-auto text-center">
            <div class="col-md-12">
                <div class="common-stepper clickableStepper">
                    <mat-horizontal-stepper linear labelPosition="bottom">
                        <mat-step [stepControl]="">
                            <ng-template matStepLabel>
                                <div>
                                    <img src="assets/images/survey-details.svg"/>
                                    <p>{{'ACCESS_CONTROL.Search' | translate}}</p>
                                </div>
                            </ng-template>
                            <div class="table-content box-style">
                                <div class="table-heading">
                                    <h3 style="font-weight: 600">
                                        <span>{{'ASSETS_MANAGEMENT.BOOKING' |translate}}</span>
                                    </h3>
                                    <div class="search-form-wrapper">
                                        <div class="buttons-group">
                                            <p><span
                                                style="color:#EA5455">*</span> {{'GENERAL.Indicates a required field' | translate}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <form class="w-100" [formGroup]="resourceBookingForm" (ngSubmit)="submit()" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-field">
                                                <mat-form-field appearance="outline" class="element-full-width">
                                                    <mat-label>{{'ASSETS_MANAGEMENT.Location'| translate}}<span
                                                        style="color:#EA5455">*</span></mat-label>
                                                    <mat-select formControlName="location"
                                                                placeholder="{{'ASSETS_MANAGEMENT.Location'| translate}}">
                                                        <mat-option *ngFor="let site of allSites"
                                                                    value="{{ site.key }}">
                                                            {{ siteFormatter(site.key)}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <!--                                                    <mat-error *ngIf="resourceForm.controls.site.errors?.required">-->
                                                    <!--                                                        {{'ASSETS_MANAGEMENT.pleaseSelectResourceSite' | translate}}-->
                                                    <!--                                                    </mat-error>-->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-field">
                                                <mat-form-field appearance="outline" class="element-full-width">
                                                    <mat-label>{{'ASSETS_MANAGEMENT.Area'| translate}}<span
                                                        style="color:#EA5455">*</span></mat-label>
                                                    <mat-select formControlName="area"
                                                                placeholder="{{'ASSETS_MANAGEMENT.Area'| translate}}">
                                                        <mat-option value="all">{{'GENERAL.ALL' |translate}}</mat-option>
                                                        <mat-option
                                                            *ngFor="let area of filterResourceTypes?.customData.areas"
                                                            value="{{ area }}">
                                                            {{ area}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <!--                                                    <mat-error *ngIf="resourceForm.controls.site.errors?.required">-->
                                                    <!--                                                        {{'ASSETS_MANAGEMENT.pleaseSelectResourceSite' | translate}}-->
                                                    <!--                                                    </mat-error>-->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-field">
                                                <mat-form-field appearance="outline" class="element-full-width">
                                                    <mat-label>{{'ASSETS_MANAGEMENT.Layout'| translate}}<span
                                                        style="color:#EA5455">*</span></mat-label>
                                                    <mat-select formControlName="layout"
                                                                placeholder="{{'ASSETS_MANAGEMENT.Layout'| translate}}">
                                                        <mat-option value="all">{{'GENERAL.ALL' |translate}}</mat-option>
                                                        <mat-option
                                                            *ngFor="let layout of filterResourceTypes?.customData.layouts"
                                                            value="{{layout}}">
                                                            {{ layout}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <!--                                                    <mat-error *ngIf="resourceForm.controls.site.errors?.required">-->
                                                    <!--                                                        {{'ASSETS_MANAGEMENT.pleaseSelectResourceSite' | translate}}-->
                                                    <!--                                                    </mat-error>-->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-xxl-6">
                                            <div class="form-field">
                                                <mat-form-field appearance="outline" class="element-full-width date-select">
                                                    <mat-label>{{'INSIGHTS_PEOPLE_PAGE.Date' | translate}}<span class="red-label">*</span>
                                                    </mat-label>
                                                    <input formControlName="meetingDate" [ngModel]="meetingDate" [matDatepicker]="date" matInput type="text"
                                                            name="meetingDate">
                                                    <mat-datepicker-toggle matSuffix [for]="date"
                                                                           class="full-date-select"></mat-datepicker-toggle>
                                                    <mat-datepicker #date (opened)="streamOpened()"></mat-datepicker>
<!--                                                    <mat-error-->
<!--                                                        *ngIf="detailsInfoForm.controls.endDate.errors?.required">{{'EVENT_MANAGEMENT.PleaseSelectEndDate' | translate}}</mat-error>-->
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-xxl-6">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>{{'ADMIN DIALOGS.CAPACITY' | translate}}<span
                                                    style="color:#EA5455">*</span></mat-label>
                                                <input type="number" formControlName="capacity" matInput
                                                       placeholder="{{'ADMIN DIALOGS.CAPACITY' | translate}}">
                                                <!--                                                <mat-error *ngIf="addResourceGroupForm.controls.minimumReservedPool.errors?.required">-->
                                                <!--                                                    {{'ASSETS_MANAGEMENT.pleaseEnterMinimumReservedPool' |translate}}-->
                                                <!--                                                </mat-error>-->
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-6 col-xxl-6">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>{{'ASSETS_MANAGEMENT.Start Time'| translate}}<span
                                                    style="color:#EA5455">*</span></mat-label>
                                                <input matInput [ngxTimepicker]="pickerStartTime2"
                                                       formControlName="meetingStartTime"
                                                       placeholder="{{'ASSETS_MANAGEMENT.Start Time'| translate}}"
                                                       [format]="24">
                                                <mat-icon matSuffix (click)="pickerStartTime2.open()">schedule
                                                </mat-icon>
                                                <ngx-material-timepicker (timeChanged)="onTimeChange($event)" #pickerStartTime2 [format]="24">
                                                </ngx-material-timepicker>
                                                <!--                                                <mat-error *ngIf="addResourceGroupForm.controls.availabilityStart.errors?.required">-->
                                                <!--                                                    {{'ASSETS_MANAGEMENT.pleaseEnterAvailabilityStart' |translate}}-->
                                                <!--                                                </mat-error>-->
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-6 col-xxl-6">
                                            <mat-form-field appearance="outline" class="element-full-width">
                                                <mat-label>{{'ASSETS_MANAGEMENT.End Time'| translate}}<span
                                                    style="color:#EA5455">*</span></mat-label>
                                                <input matInput [ngxTimepicker]="pickerStartTime3"
                                                       formControlName="meetingEndTime" [min]="startTimeValue"
                                                       placeholder="{{'ASSETS_MANAGEMENT.End Time'| translate}}"
                                                       [format]="24">
                                                <mat-icon matSuffix (click)="pickerStartTime3.open()">schedule
                                                </mat-icon>
                                                <ngx-material-timepicker #pickerStartTime3 [format]="24">
                                                </ngx-material-timepicker>
                                                <!--                                                <mat-error *ngIf="addResourceGroupForm.controls.availabilityStart.errors?.required">-->
                                                <!--                                                    {{'ASSETS_MANAGEMENT.pleaseEnterAvailabilityStart' |translate}}-->
                                                <!--                                                </mat-error>-->
                                            </mat-form-field>
                                        </div>
                                           <div class="form-footer step-form-bottom">
                                            <button class="btn-style red-line-btn" (click)="back()"
                                                    type="button">{{'GENERAL.Cancel' | translate}}</button>
                                            <button class="btn-style theme-btn" matStepperNext
                                                    type="submit">{{'GENERAL.Save&Next'| translate}} <span
                                                class="material-icons">arrow_forward</span></button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <div>
                                    <img src="assets/images/questions-icons.svg"/>
                                    <p>{{'EVENT_MANAGEMENT.select' | translate}}</p>
                                </div>
                            </ng-template>
                            <div class="attendee-detail-wrapper inner-tabbing document-detail-wrapper">
                                <div class="box-style company-info simple-tabbing">


                                </div>

                            </div>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <div>
                                    <img src="assets/images/fit-index-calc-management.svg"/>
                                    <p>{{'ASSETS_MANAGEMENT.book' | translate}}</p>
                                </div>
                            </ng-template>
                            <div class="attendee-detail-wrapper inner-tabbing document-detail-wrapper">
                                <div class="box-style company-info simple-tabbing">

                                </div>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>

        </div>
    </div>
    <!--    <hr>-->
    <!--    <div class="popup-footer">-->
    <!--        <div class="footer-content justify-content-end">-->
    <!--            <button (click)="onNoClick()" class="btn-style inactive">{{'GENERAL.Cancel' | translate}}</button>-->
    <!--            <button  class="btn-style theme-btn">{{'GENERAL.Save' | translate}}</button>-->
    <!--        </div>-->
    <!--    </div>-->
</section>
