
<section class="client-management">
    <div class="row">
        <div class="col-md-12">
            <!-- <nav>
                <ol class="breadcrumb box-style">
                  <li routerLink="/dashboard" class="breadcrumb-item">{{'RECRUITING.Dashboard' | translate}}</li>
                  <li routerLink="/quiz-survey/questions" class="breadcrumb-item">{{'Quiz/Survey.Questions' | translate}}</li>
                  <li class="breadcrumb-item active" aria-current="page">{{'Quiz/Survey.ViewQuestion' | translate}}</li>
                </ol>
            </nav> -->
            <app-breadcrumb [title]="'Quiz/Survey.Questions'" [routePath]="'/quiz-survey/questions'" [title3]="'Quiz/Survey.ViewQuestion'"
            >
            </app-breadcrumb>
        </div>
    </div>
    <div class="edit-job-applications table-content">
        <div class="box-style company-info ">
            <div class="edit-app-header">
                <div class="table-heading">
                    <h3>{{'Quiz/Survey.ViewQuestion' | translate}}</h3>
                </div>
                <div class="buttons-group">
                    <button class="btn-style grey-btn" routerLink="../add-edit-question" (click)="edit(this.quizDetails.id)">{{'GENERAL.Edit' | translate}}</button>
                    <button class="btn-style red-btn" (click)="questionsDeleteDialog(this.quizDetails.id)">{{'GENERAL.Delete' | translate}}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="company-details odd-even-false">
                        <div class="detail-wrapper bg-grey">
                            <div class="detail-box">
                                <p>{{'Quiz/Survey.Questions' | translate}}</p>
                                <b>{{quizDetails.question ? quizDetails.question :'-'}}</b>
                            </div>
                            <div class="detail-box">
                                <p>{{'Quiz/Survey.Code' | translate}}</p>
                                <b>{{quizDetails.code ? quizDetails.code :'-'}}</b>
                            </div>
                            <div class="detail-box">
                                <p>{{'Quiz/Survey.Minutes' | translate}}</p>
                                <b>{{quizDetails.minutes ? quizDetails.minutes :'0'}}</b>
                            </div>
                            <div class="detail-box">
                                <p>{{'Quiz/Survey.Seconds' | translate}}</p>
                                <b>{{quizDetails ? (quizDetails.seconds ===  null ? '0': quizDetails.seconds) :'0'}}</b>
                            </div>
                        </div>
                        <hr>
                        <div class="detail-wrapper">
                            <div class="detail-box">
                                <p>{{'Quiz/Survey.Subtitle' | translate}}</p>
                                <b>{{quizDetails.subtitle ? quizDetails.subtitle :'-'}}</b>
                            </div>
                            <div class="detail-box">
                                <p>{{'Quiz/Survey.Category' | translate}}</p>
                                <b>{{quizDetails.category ? quizDetails.category :'-'}}</b>
                            </div>
                            <div class="detail-box">
                                <p>{{'Quiz/Survey.Mandatory' | translate}}</p>
                                <b>{{quizDetails.mandatory ? quizDetails.mandatory :'-'}}</b>
                            </div>
                            <div class="detail-box">
                                <p>{{'Quiz/Survey.Privacy' | translate}}</p>
                                <b style="text-transform: capitalize">{{quizDetails.privacy ? quizDetails.privacy :'-'}}</b>
                            </div>
                        </div>
                        <div class="detail-wrapper bg-grey">
                            <div class="detail-box">
                                <p>{{'Quiz/Survey.Type' | translate}}</p>
                                <b>{{quizDetails.type ? quizDetails.type :'-'}}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="edit-application-history mt-30">
                        <div class="table-content">
                            <h3>{{'Quiz/Survey.Option' | translate}}</h3>
                            <div class="table-wrapper resource-color-table">
                                <table mat-table matSort [dataSource]="dataSourceTable" style="width: 100%" >
                                    <ng-container matColumnDef="order">
                                        <th mat-header-cell *matHeaderCellDef >{{'Quiz/Survey.Order' | translate}}</th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <!--{{ element.order }}-->
                                            {{i+1}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="answer">
                                        <th mat-header-cell *matHeaderCellDef>{{'Quiz/Survey.Answer' | translate}}</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.value ? element.value : '-'}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="sideEffect">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">{{'Quiz/Survey.SideEffect' | translate}}</th>
                                        <td mat-cell *matCellDef="let element" >
                                            <div class="action-icons d-flex switch">
                                                <!--<img src="assets/images/sideEffect.svg" (click)="addEditSideEffect(element)"  class="" alt="" >-->
                                                <img src="assets/images/sideEffect.svg" style="opacity: 0.7;cursor: not-allowed;" class="" alt="" >
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef style="width: 100px;">{{'TABLE.Action' | translate}}</th>
                                        <td mat-cell *matCellDef="let element" style="width: 100px;">
                                            <div class="action-icons d-flex switch">
                                                <img src="assets/images/up-icons.svg"  class="" alt="">
                                                <img src="assets/images/down-icon.svg"  alt="">
                                                <img src="assets/images/delete-disable.svg"  alt="" style="opacity: 0.7;cursor: not-allowed;">
                                            </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="optionDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let element; columns: optionDisplayedColumns"></tr>
                                </table>
                            </div>
                          <div *ngIf="!noRecordFound" class="no-record-found"> {{'TABLE.No_record_found' | translate}}</div>
                          <div  *ngIf="noRecordFound"class="paginate-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
