<mat-tab-group #tabgroup class="group-tab">
    <mat-tab>
        <app-table-data-view [tableDataSet]="people" [columnTemplates]="tableColumnTemplates"
            [satPopoverAnchor]="changeLogPopover" [rowActions]="tableRowActions" [mainActions]="tableMainActions"
            [filterFunction]="filterCallback">
        </app-table-data-view>

        <sat-popover #changeLogPopover forceAlignment hasBackdrop>
            <div class="change-log-popup">
                <app-people-change-log-popup [currentPersonHistory]="currentPersonHistory"
                    (RestoreData)="onRestorePreson($event)"></app-people-change-log-popup>
            </div>
        </sat-popover>

        <input type="file" #file style="display: none" (change)="onUploadFile()" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
    </mat-tab>
    <mat-tab>
        <div class="general-container">
            <div *ngIf="showCard" class="card people-card">
                <div class="card-header">
                    <div class="card-title">{{ titleCard }}</div>
                </div>
                <div class="card-body">
                    <div class="user-editor-tab">
                        <div class="data-area">
                            <mat-tab-group #tabgroupeditor>
                                <mat-tab label="{{ 'ADMIN DIALOGS.GENERAL' | translate }}">
                                    <app-people-general-section [currentEditPerson]="currentEditPerson">
                                    </app-people-general-section>
                                </mat-tab>
                                <mat-tab label="{{ 'INSIGHTS_PEOPLE_PAGE.Contact' | translate }}">
                                    <app-people-contact-section [currentEditPerson]="currentEditPerson">
                                    </app-people-contact-section>
                                </mat-tab>
                                <mat-tab *ngIf="checkTabAvailable(3)" label="{{ 'ADMIN DIALOGS.SETTINGS' | translate }}">
                                    <app-people-settings-section [currentEditPerson]="currentEditPerson"
                                        [currentCompany]="currentCompany" [sites]="sites" [persons]="people" [scope]="scope" [areasAvailable]="areasAvailable">
                                    </app-people-settings-section>
                                </mat-tab>
                                <mat-tab *ngIf="checkTabAvailable(4) && disputeAvailable"
                                    label="{{ 'INSIGHTS_PEOPLE_PAGE.Dispute' | translate }}">
                                    <app-people-dispute-section [currentEditPerson]="currentEditPerson"
                                        [currentCompany]="currentCompany"></app-people-dispute-section>
                                </mat-tab>
                                <mat-tab *ngIf="checkTabAvailable(5) && economicsAvailable"
                                    label="{{ 'INSIGHTS_PEOPLE_PAGE.Economics' | translate }}">
                                    <app-people-economics-section [currentEditPerson]="currentEditPerson" [scope]="scope">
                                    </app-people-economics-section>
                                </mat-tab>
                                <mat-tab *ngIf="accessFunctionAvailable()" label="{{ 'INSIGHTS_PEOPLE_PAGE.Accesses' | translate }}">
                                    <app-people-access-section [currentEditPerson]="currentEditPerson" [sites]="sites" [scope]="scope">
                                    </app-people-access-section>
                                </mat-tab>
                                <mat-tab *ngIf="documentsFunctionAvailable()" label="{{ 'INSIGHTS_PEOPLE_PAGE.Documents' | translate }}">
                                    <app-people-documents-section (docModifiedEvent)="docModified($event)" [userDocuments]="currentEditUserDocuments" [prova]="provaa" [currentEditPerson]="currentEditPerson" [scope]="scope">
                                    </app-people-documents-section>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button mat-flat-button class="action-button" color="primary"
                        (click)="onEditCancelClick()">{{'GENERAL.CANCEL'|translate}}</button>
                    <span class="width-5"></span>
                    <button mat-flat-button class="action-button" color="primary" [disabled]="!isEditConfirmEnabled()"
                        cdkFocusInitial (click)="onEditConfirmClick()">{{'GENERAL.CONFIRM'|translate}}</button>
                </div>
            </div>

            <div *ngIf="!showCard" class="card dashboard-card">
                <div class="card-body">
                    <iframe width="100%" height="100%"
                        [src]="dashboardUrl"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="card-footer">
                    <button mat-flat-button class="action-button" color="primary"
                        (click)="onEditCancelClick()">{{'GENERAL.BACK'|translate}}</button>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>