<section class="login-signup forgot-password">
    <div class="login-box">
        <div class="left-part">
            <span routerLink="/" style="cursor: pointer;">
              <img src="assets/image/legance-white.svg" class="legance-logo" alt=" lagacy Logo">
            </span>
            <p>{{'HOMEPAGE.BannerTitle' | translate}}</p>
            <div class="banner-image">
              <img [src]="loginImg" alt="">
            </div>
        </div>
        <div class="right-part">
            <form name="forgotPassword" [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="onForgotPassword()" #myform="ngForm">
                <div class="ragister">
                    <h3>{{'LOGINPAGE.ForgotPassword' | translate}}</h3>
                    <hr>
                    <div label="Login" class="login-pass">
                        <div class="login-form">
                            <p>{{'LOGINPAGE.ForgotPasswordDescription' | translate}}</p>
                            <div class="form-field">
                                <label for="email">{{'LOGINPAGE.EmailAddress' | translate}}</label>
                                <mat-form-field appearance="outline">
                                    <input matInput id="email" type="email" name="email" formControlName="email" placeholder="{{'LOGINPAGE.EmailAddress' | translate}}">
                                    <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.required">{{'LOGINPAGE.Email_Address_Required' | translate}}</mat-error>
                                    <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.email"> {{'LOGINPAGE.Email_Address_Valid' | translate}}</mat-error>
                                  </mat-form-field>
                                <div class="login-btn">
                                    <button mat-button mat-raised-button type="submit" class="btn-submit"
                                    style="background-color: #002A3A;color: #fff;height: 100%;width: 100%;">{{'GENERAL.Submit' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
