<div class="procurement-settings">
    <section class="client-management">
        <div class="row">
            <div class="col-md-12">
                <app-breadcrumb [title]="'INSIGHTS_MENU.PROCUREMENT'" [title3]="'Procurement_Settings'">
                </app-breadcrumb>
            </div>
            <div class="col-md-12">
                <div class="common-tabbing">
                    <mat-tab-group animationDuration="0ms">
                        <mat-tab label="{{'Expiring Document' | translate}}" >
                            <div class="col-md-12">
                                <div class="table-content box-style">
                                    <div class="table-heading">
                                        <h3 style="font-weight: 600"><span>{{'Expiring Document' | translate}}</span></h3>
                                    </div>
                                    <div class="form-content-box">
                                        <form class="w-100" name="expiringDocumentForm" [formGroup]= "expiringDocumentForm"  novalidate (ngSubmit)="saveExpiringDoc()"
                                        #myform="ngForm">
                                            <div class="row">
                                                <div class="min-400 col-xl-6 col-xxl-3">
                                                    <div class="custom-switch switch mt-0">
                                                        <mat-checkbox
                                                            formControlName="expiringDocSendNoticeEmail">{{'SendNoticeEmail' | translate}}</mat-checkbox>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 candidate-period">
                                                    <h4>{{'How_many_days_document_notification_emails_sent' | translate}}</h4>
                                                </div>
                                                <div class="col-xl-6 col-xxl-4">
                                                    <div class="form-field">
                                                        <mat-form-field appearance="outline" class="element-full-width">
                                                            <mat-label> {{'Days' | translate}}<span style="color:#EA5455">*</span></mat-label>
                                                            <mat-select formControlName="expiringDocumentDays">
                                                                <mat-option>{{'Select Days' | translate}}</mat-option>
                                                                <mat-option *ngFor="let activeDay of activeDayList" value="{{activeDay}}">{{activeDay}}</mat-option>
                                                            </mat-select>
                                                            <mat-error *ngIf="expiringDocumentForm.controls.expiringDocumentDays.errors?.required">
                                                                {{'Please select Days' | translate}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 candidate-period">
                                                    <h4>{{'How_often_send_notice' | translate}}</h4>
                                                </div>
                                                <div class="col-xl-6 col-xxl-4">
                                                    <div class="form-field">
                                                        <mat-form-field appearance="outline" class="element-full-width">
                                                            <mat-label> {{'Notice_time' | translate}}<span style="color:#EA5455">*</span></mat-label>
                                                            <mat-select formControlName="expiringDocumentTime">
                                                                <mat-option>{{'Select Notice Time' | translate}}</mat-option>
                                                                <mat-option *ngFor="let noticeListItem of noticeList" value="{{noticeListItem}}">{{noticeListItem | translate}}</mat-option>
                                                            </mat-select>
                                                            <mat-error *ngIf="expiringDocumentForm.controls.expiringDocumentTime.errors?.required">
                                                                {{'Please select Notice time' | translate}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-footer">
                                              <button class="btn-style theme-btn" type="submit">{{'GENERAL.Save' | translate}}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="{{'Expired Document' | translate}}" >
                            <div class="col-md-12">
                                <div class="table-content box-style">
                                    <div class="table-heading">
                                        <h3 style="font-weight: 600"><span>{{'Expired Document' | translate}}</span></h3>
                                    </div>
                                    <div class="form-content-box">
                                        <form class="w-100" name="expiredDocumentForm" [formGroup]= "expiredDocumentForm"  novalidate (ngSubmit)="saveExpiredDoc()"
                                        #myform="ngForm">
                                            <div class="min-400 col-xl-6 col-xxl-3">
                                                <div class="custom-switch switch mt-0">
                                                    <mat-checkbox
                                                        formControlName="expiredDocSendNoticeEmail">{{'SendNoticeEmail' | translate}}</mat-checkbox>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 candidate-period">
                                                    <h4>{{'How_often_send_notice_document_expired' | translate}}</h4>
                                                </div>
                                                <div class="col-xl-6 col-xxl-4">
                                                    <div class="form-field">
                                                        <mat-form-field appearance="outline" class="element-full-width">
                                                            <mat-label> {{'Notice_time' | translate}}<span style="color:#EA5455">*</span></mat-label>
                                                            <mat-select formControlName="expiredDocumentDays" multiple>
                                                                <mat-option class="multiple-disable-placeholder" disabled>{{'Select Notice Time' | translate}}</mat-option>
                                                                <mat-option *ngFor="let noticeListItem of noticeListExpired" value="{{noticeListItem}}">{{noticeListItem | translate}}</mat-option>
                                                            </mat-select>
                                                            <mat-error *ngIf="expiredDocumentForm.controls.expiredDocumentDays.errors?.required">
                                                                {{'Please select Notice time' | translate}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-footer">
                                              <button class="btn-style theme-btn" type="submit">{{'GENERAL.Save' | translate}}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab  label="{{'INSIGHTS_PEOPLE_PAGE.EmailConfiguration' | translate}}" class="mt-5">
                            <div class="col-md-12">
                                <div class="common-tabbing">
                                    <div class="table-content box-style company-info">
                                        <div class="table-heading">
                                            <h3 style="font-weight: 600">{{'INSIGHTS_PEOPLE_PAGE.EmailConfiguration' | translate}}</h3>
                                            <div class="search-form-wrapper">
                                                <p><span style="color:#EA5455">*</span>{{'EDIT COMPANY.Indicates a required field' | translate}}</p>
                                            </div>
                                        </div>
                                        <form class="w-100" name="emailConfigForm" (ngSubmit)="updateEmailConfig()" [formGroup]="emailConfigForm" novalidate  #myform="ngForm">
                                            <div class="row">
                                                <div class="col-xl-6 col-xxl-4">
                                                    <div class="form-field">
                                                        <mat-form-field appearance="outline" class="element-full-width">
                                                            <mat-label>{{'Host' | translate}}</mat-label>
                                                            <input type="text" name="host" formControlName="host" matInput>
                                                            <mat-error *ngIf="emailConfigForm.controls.host.errors?.required">
                                                                {{'Enter your host' | translate}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-xxl-4">
                                                    <div class="form-field error-message-custom">
                                                        <mat-form-field appearance="outline" class="element-full-width">
                                                            <mat-label>{{'Port' | translate}}</mat-label>
                                                            <input type="text" name="port" formControlName="port" matInput>
                                                            <mat-error *ngIf="emailConfigForm.controls.port.errors?.required">
                                                                {{'Enter your port' | translate}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-xxl-4">
                                                    <div class="form-field">
                                                        <mat-form-field appearance="outline" class="element-full-width">
                                                            <mat-label>{{'GENERAL.Username' | translate}}</mat-label>
                                                            <input type="text" autocomplete="off" name="userName" formControlName="userName" matInput>
                                                            <mat-error *ngIf="emailConfigForm.controls.userName.errors?.required">
                                                                {{'Enter your username' | translate}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-xxl-4">
                                                    <div class="form-field">
                                                        <mat-form-field appearance="outline" class="element-full-width">
                                                            <mat-label>{{'Password' | translate}}</mat-label>
                                                            <input type="password" name="password" formControlName="password" matInput onkeypress="return event.charCode != 32">
                                                            <mat-error *ngIf="emailConfigForm.controls.password.errors?.required">
                                                                {{'Enter your password' | translate}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-xxl-4">
                                                    <div class="form-field">
                                                        <mat-form-field appearance="outline" class="element-full-width">
                                                            <mat-label>{{'From Name' | translate}}</mat-label>
                                                            <input formControlName="emailFrom" matInput name="emailFrom" type="text">
                                                            <mat-error *ngIf="emailConfigForm.controls.emailFrom.errors?.required">
                                                                {{'Enter your from name' | translate}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-xxl-4">
                                                    <div class="form-field">
                                                        <mat-form-field appearance="outline" class="element-full-width">
                                                            <mat-label>{{'EVENT_MANAGEMENT.Encryption' | translate}}</mat-label>
                                                            <mat-select formControlName="encryption" >
                                                                <mat-option>{{'Select Encryption' |translate}}</mat-option>
                                                                <mat-option *ngFor="let encryption of  mailEncryption" [value]="encryption.name">{{encryption.name}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="form-footer">
                                                    <button class="btn-style theme-btn" type="submit">{{'GENERAL.Save' | translate}}</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </section>
</div>
