
.logo {
  margin-top: 80px;
  width: 160px;
  outline: none; //Disables outline when clicking
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  min-width: 250px;
}

.form-field {
  width: 96%;
  margin-left: 2%;
}

.login-button {
  color: white;
  margin-top: 20px;
  width: calc(100% - 60%);
}

.version-info {
    margin-top: auto;
    margin-bottom: 50px;
}
