<section class="client-management">
    <div class="row">
        <div class="col-md-12">
            <!-- <nav>
                <ol class="breadcrumb box-style">
                  <li class="breadcrumb-item">{{'INSIGHTS_MENU.MASTER_MODULES'| translate}}</li>
                  <li routerLink="/master-modules/event-types" class="breadcrumb-item">{{'INSIGHTS_MENU.EVENT_TYPE' | translate}}</li>
                  <li class="breadcrumb-item active" aria-current="page"><span>{{'Events Settings' | translate}}</span></li>
                </ol>
            </nav> -->
            <app-breadcrumb [title]="'INSIGHTS_MENU.MASTER_MODULES'" [routePath2]="'/master-modules/event-types'"
             [title2]="'INSIGHTS_MENU.EVENT_TYPE'" [title3]="'Events Settings'"></app-breadcrumb>
        </div>
        <div class="col-md-12">
            <div class="table-content box-style">
                <div class="table-heading">
                    <h3 style="font-weight: 600"><span>{{'Events Settings' | translate}}</span></h3>
                    <div class="search-form-wrapper">
                        <div class="buttons-group">
                            <!-- <p><span style="color:#EA5455">*</span> Indicates a required field</p> -->
                        </div>
                    </div>
                </div>
                <div class="form-content-box">
                    <form class="w-100" name="eventsSettingsForm" [formGroup]= "eventsSettingsForm"  novalidate
                    (ngSubmit)="changeCategory()"
                    #myform="ngForm">
                        <div class="row">
                            <div class="col-xl-6 col-xxl-4">
                                <div class="form-field error-message-custom">
                                  <mat-form-field appearance="outline" class="element-full-width" >
                                    <mat-label>{{'Send Email' | translate}}</mat-label>
                                    <mat-select formControlName="sendMailForEveryRequest" #option >
                                      <mat-option>{{'Select Send Email' | translate}}</mat-option>
<!--                                      <mat-option *ngFor="let selectEmail of sendEmailList" [value]="selectEmail">{{selectEmail}}</mat-option>-->
                                      <mat-option [value]= true >
                                        {{'For Every Request' | translate}}
                                      </mat-option>
                                      <mat-option [value] = false >
                                        {{'Once A Day' |translate}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="eventsSettingsForm.controls.sendMailForEveryRequest.errors?.required" >
                                        {{'Please select send email' |translate}}
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
                            <div class="col-xl-6 col-xxl-4" *ngIf="option.value === false ">
                                <div class="form-field">
                                    <mat-form-field appearance="outline" class="element-full-width">
                                      <!--<input matInput placeholder="{{'INSIGHTS_PEOPLE_PAGE.SelectTime' | translate}}" [ngModel]="getJustificationMailTime()">
                                      <button mat-button matSuffix mat-icon-button (click)="pickerStartTime1.open()">
                                        <mat-icon>schedule</mat-icon>
                                      </button>-->
                                        <mat-label>{{'Send Email at' |translate}}<span style="color:#EA5455">*</span></mat-label>
                                        <input type="text"  formControlName="sendAllMailEverydayAt" matInput  [format]="24" name="sendAllMailEverydayAt"[ngxTimepicker]="pickerStartTime1" >
                                      <ngx-material-timepicker #pickerStartTime1 [format]="24" (timeSet)="setJustificationMailTime($event)">
                                      </ngx-material-timepicker>

                                        <mat-error *ngIf="eventsSettingsForm.controls.sendAllMailEverydayAt.errors?.required" >
                                            {{'Please select send email time' | translate}}
                                        </mat-error>
                                    </mat-form-field>
<!--                                  <ngx-material-timepicker #pickerStartTime1 [format]="24" >-->
<!--                                  </ngx-material-timepicker>-->
                                </div>
                            </div>
                            <div class="col-xl-6 col-xxl-4">
                                <div class="form-field">
                                    <mat-form-field appearance="outline" class="element-full-width">
                                        <mat-label>{{'Email Object' | translate}}<span style="color:#EA5455">*</span></mat-label>
                                        <input  type="text" formControlName="mailObject" matInput  name="mailObject" style="text-transform:capitalize;">
                                        <mat-error *ngIf="eventsSettingsForm.controls.mailObject.errors?.required" >
                                            {{'Enter your email object' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-xl-6 col-xxl-4">
                                <div class="form-field error-message-custom">
                                    <div class="custom-switch">
                                        <mat-checkbox formControlName="enableAutoMergeRequests">{{'Merge Requests for Consecutive Days' | translate}}</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-footer">
                            <button class="btn-style theme-btn" type="submit">{{'GENERAL.Save' | translate}}</button>
                            <button class="btn-style red-line-btn" routerLink="/master-modules/event-types" type="button">{{'GENERAL.Cancel' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
