<section class="client-management">
  <div class="row">
    <div class="col-md-12">
      <!-- <nav>
        <ol class="breadcrumb box-style">
          <li routerLink="/dashboard" class="breadcrumb-item">{{'INSIGHTS_MENU.DASHBOARD'| translate}}</li>
          <li  class="breadcrumb-item active" aria-current="page">{{'INSIGHTS_MENU.ACCOUNTS'| translate}}</li>
        </ol>
      </nav> -->
      <app-breadcrumb [title]="'INSIGHTS_MENU.EVENT_MANAGEMENT'" [title3]="'INSIGHTS_MENU.Event_Services'">
      </app-breadcrumb>
    </div>
    <div class="col-md-12">
      <div class="common-tabbing">
        <div class="table-content box-style company-info">
          <div class="table-heading">
            <h3 style="font-weight: 600">{{'INSIGHTS_MENU.Event_Services'| translate}}</h3>
            <div class="search-form-wrapper">
              <div class="search-form">
                <mat-icon  matPrefix class="material-icons search">search</mat-icon>
                <input (keyup)="onKeyUp($event)" #searchBox [(ngModel)]="search" mat-input placeholder="{{'EVENT_MANAGEMENT.SearchEventServices'| translate }}" />
                <mat-icon *ngIf="this.search !== '' "  class="material-icons clear" (click) ="resetSearch()">clear</mat-icon>
              </div>
              <button  class="btn-style" routerLink="add-edit-event-services/0">
                <span class="material-icons">add</span>{{'EVENT_MANAGEMENT.AddEventService'| translate}}
              </button>
              <button  [matMenuTriggerFor]="menu" class="btn-style menu-btn">
                <mat-icon >more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteMultiEventServices()">
                  <span>{{'GENERAL.Delete' | translate}}</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <div class="table-wrapper resource-color-table">
            <table #table [dataSource]="eventServiceList | paginate: {itemsPerPage: this.itemsPerPage, currentPage: this.page, totalItems: this.totalItems }" mat-table style="width: 100%" >
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="remember-forgot"  style="width: 80px;">
                  <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="remember-forgot"  style="width: 80px;">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="wheelAction">
                <th  mat-header-cell *matHeaderCellDef style="width: 100px;">
                  {{'TABLE.Action' | translate}}
                </th>
                <td mat-cell *matCellDef="let element; let i = index" style="width: 100px;">
                  <app-wheel-action [icons]="'three'" [editOn]="true" [deleteOn]="true" [viewOn]="true" [element]="element"
                                    (edit)="edit($event)" (delete)="openAccountDeleteDialog($event)" (view)="view(($event))"></app-wheel-action>
                </td>
              </ng-container>
              <ng-container matColumnDef="serviceName">
                <th (click)="changeSorting('name',sortBy)" *matHeaderCellDef class="short-arrow"  mat-header-cell>
                  {{'EVENT_MANAGEMENT.ServiceName' | translate}} <span
                  [ngClass]="{'down': sortKey === 'name' && sortBy === '-1' , 'up': sortKey === 'name' && sortBy === '1'}" >
                    <img alt="" src="assets/images/up-arrow.svg"></span> </th>
                <td mat-cell *matCellDef="let element" style="white-space: break-spaces;">{{element.name ? element.name : '-' }}</td>
              </ng-container>
              <ng-container matColumnDef="nameOfSupplier">
                <th (click)="changeSorting('supplierName',sortBy)" *matHeaderCellDef class="short-arrow"  mat-header-cell>
                  {{'EVENT_MANAGEMENT.NameOfSupplier'| translate}} <span
                  [ngClass]="{'down': sortKey === 'supplierName' && sortBy === '-1' , 'up': sortKey === 'supplierName' && sortBy === '1'}" >
                    <img alt="" src="assets/images/up-arrow.svg"></span> </th>
                <td mat-cell *matCellDef="let element" style="white-space: break-spaces;">{{element.supplierName ? element.supplierName : '-' }}</td>
              </ng-container>
              <ng-container matColumnDef="referenceEmail">
                <th (click)="changeSorting('email',sortBy)" *matHeaderCellDef class="short-arrow"  mat-header-cell>
                  {{'EVENT_MANAGEMENT.ReferenceEmail'| translate}} <span
                  [ngClass]="{'down': sortKey === 'email' && sortBy === '-1' , 'up': sortKey === 'email' && sortBy === '1'}" >
                    <img alt="" src="assets/images/up-arrow.svg"></span> </th>
                <td mat-cell *matCellDef="let element" style="white-space: break-spaces;">{{element.email ? element.email : '-' }}</td>
              </ng-container>
              <ng-container matColumnDef="referencePhoneNumber">
                <th (click)="changeSorting('phone',sortBy)" *matHeaderCellDef class="short-arrow"  mat-header-cell>
                  {{'EVENT_MANAGEMENT.ReferencePhoneNumber'| translate}} <span
                  [ngClass]="{'down': sortKey === 'phone' && sortBy === '-1' , 'up': sortKey === 'phone' && sortBy === '1'}" >
                    <img alt="" src="assets/images/up-arrow.svg"></span> </th>
                <td mat-cell *matCellDef="let element" style="white-space: break-spaces;">{{element.phone ? element.phone : '-' }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="eventServicesDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: eventServicesDisplayedColumns"></tr>
            </table>
          </div>
          <app-pagination [noRecordFound]="noRecordFound"
                          [itemsPerPage]="itemsPerPage" [page]="page" (pageChange)="pageChanged($event)" (changeItem)="changeItemsPerPage($event)"
                          [totalItems]="totalItems"></app-pagination>

        </div>
      </div>
    </div>
  </div>
</section>
