
@import '../../../../../theme-color.scss';

.job-image{
    img{
        max-width: 285px;
    }
}
.no-record-found{
    margin-top: 20px !important;
  }
  .table-wrapper {
    padding-bottom: 0px !important;
  }