// colors

$theme_color : #002A3A;
$theme_color_shade : #a6dbff;
$theme_color_light : #e6f5ff;
$theme_color_offlight: #ECEFF4;
$text-grey: #8F8F8F;
$white: #ffffff;
$black: #000000;
$red:#EA5455;
$grey:#727272;
$purpal:#877DF2;
$trasparent:transparent;
$red-label : #ff0000;
$theme-stepper:#99A9B0;