<!--======================== Main Header Title ==================== -->
<div class="main-title">
    <h1>{{'MAIN-TITLE.EstimateDetails' | translate}}</h1>
</div>
<!--======================= Main Section Body ==================== -->
<section class="rfqs-section quotation-details">
    <div class="container">
        <div class="content-wrapper">
            <div class="quote-box box-style">
                <div class="title">
                    <div>
                        <h4>Lorem Ipsum</h4>
                        <p>#435684253</p>
                    </div>
                    <button mat-raised-button routerLink="/quotation" type="button" class="btn-style theme-btn normal-btn">
                        {{'RFQS.SendQuote' | translate}}
                    </button>
                </div>
                <hr>
                <ul class="quote-list">
                    <li>
                        <span>{{'RFQS.Priority' | translate }}</span>
                        <p>Alto</p>
                    </li>
                    <li>
                        <span>{{'RFQS.Balance' | translate}}</span>
                        <p>€ 200</p>
                    </li>
                    <li>
                        <span>{{'RFQS.State' | translate}}</span>
                        <p>Aprire</p>
                    </li>
                    <li>
                        <span>{{'RFQS.Deadline' | translate}}</span>
                        <p>15/03/2022</p>
                        <span class="red-label"><span class="red-label">2</span> {{'RFQS.RemainingDays' | translate}}</span>
                    </li>
                </ul>
            </div>
            <div class="quote-box box-style">
                <div class="details-wrapper">
                    <h5>{{'GENERAL.Details' | translate }} </h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
                        make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <ul>
                        <li>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                 Lorem Ipsum has been the industry's standard dummy text.</p>
                        </li>
                        <li>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </li>
                        <li>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's.</p>
                        </li>
                        <li>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text.</p>
                        </li>
                        <li>
                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </li>
                        <li>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                        </li>
                        <li>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text.</p>
                        </li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s.</p>
                    <div class="view-link">
                        <span>{{'RFQS.ViewAttachDocument' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

